#errorCatcher Echo
#encoding UTF-8

<script>
    
function openHeatmapFile(date) {
    if (date.match(/^\d\d\d\d/)) {
        window.location = "./heatmap-" + date + ".php";
    }
}
</script>

<div id="title_bar">
  <div id="reports">
    <select name="reports" onchange="openHeatmapFile(value)"  style="background-color: rgb(194,102,58); color: white; border: 2px solid rgb(194,102,58); border-radius: 5px;">
      #for $yr in $SummaryByYear
      <option value="$yr">$yr</option>
      #end for
      
      <option selected> $gettext("-Select Year-") </option>
    </select>
    <select name="reports" onchange="openHeatmapFile(value)"  style="background-color: rgb(194,102,58); color: white; border: 2px solid rgb(194,102,58); border-radius: 5px;">
      #for $monthYear in $SummaryByMonth
      <option value="$monthYear">$monthYear</option>
      #end for
      
      <option selected> $gettext("-Select Month-") </option>
    </select>
    
    <br/>
  </div>
</div>
