#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
#encoding UTF-8
##
<?php
##		Calculate length of daylight
	#set $daylength = time.strftime('%H:%M', time.gmtime(int($almanac.sun.set.raw -  $almanac.sun.rise.raw)))
##		Truncate station uptime decimals
	#set $stationuptime = str($station.os_uptime.raw).split('.')[0] 	
##		Calculate Beaufort based on wind speed in knots
          #if $varExists('$current.windSpeed') and $current.windSpeed.raw is not None
          #if $unit.unit_type.windSpeed == 'mile_per_hour'
          #set $kts = $current.windSpeed.raw * 0.8689762
          #elif $unit.unit_type.windSpeed == 'km_per_hour'
            #set $kts = $current.windSpeed.raw * 0.539956
          #elif $unit.unit_type.windSpeed == 'meter_per_second'
            #set $kts = $current.windSpeed.raw * 1.943844
          #elif $unit.unit_type.windSpeed == 'knot'
            #set $kts = $current.windSpeed.raw
          #else
            #set $kts = 0
          #end if
          #if $kts < 1
            #set $beaufort = 0
          #elif $kts < 4
            #set $beaufort = 1
          #elif $kts < 7
            #set $beaufort = 2
          #elif $kts < 11
            #set $beaufort = 3
          #elif $kts < 17
            #set $beaufort = 4
          #elif $kts < 22
            #set $beaufort = 5
          #elif $kts < 28
            #set $beaufort = 6
          #elif $kts < 34
            #set $beaufort = 7
          #elif $kts < 41
            #set $beaufort = 8
          #elif $kts < 48
            #set $beaufort = 9
          #elif $kts < 56
            #set $beaufort = 10
          #elif $kts < 64
            #set $beaufort = 11
          #else
            #set $beaufort = 12
          #end if
          #else
            #set $beaufort = 'N/A'
          #end if
         #if $almanac.moon_phase.lower() == "New".lower()
            #set $moonphase = "0"
          #else if $almanac.moon_phase.lower() == "Waxing Crescent".lower()
            #set $moonphase = "1"
	  #else if $almanac.moon_phase.lower() == "First Quarter".lower()
            #set $moonphase = "2"
	  #else if $almanac.moon_phase.lower() == "Waxing Gibbous".lower()
            #set $moonphase = "3"
          #else if $almanac.moon_phase.lower() == "Full".lower()
            #set $moonphase = "4"
	  #else if $almanac.moon_phase.lower() == "Waning Gibbous".lower()
            #set $moonphase = "5"
	  #else if $almanac.moon_phase.lower() == "Last Quarter".lower()
            #set $moonphase = "6"
	  #else if $almanac.moon_phase.lower() == "Waning Crescent".lower()
            #set $moonphase = "7"
          #end if
          

    
      #import datetime
      #set $now = datetime.datetime.now()
      #set $nowHour = $now.hour
      #set $sunrise_hour = datetime.datetime.fromtimestamp($almanac.sunrise.raw).strftime('%H')
      #set $sunset_hour = datetime.datetime.fromtimestamp($almanac.sunset.raw).strftime('%H')
        ##if $sunrise_hour <= $nowHour < $sunset_hour ## This works but to keep it inline with JavaScript the below works too
        #if int($sunrise_hour) <= int($nowHour) and int($nowHour) < int($sunset_hour)
            #set $bodyTheme = "light"
            
        #else
            ## Night time, use dark mode
            #set $bodyTheme = "dark"
            
        #end if  

        #set $mlsc = "N/A"
        #if $varExists('month.lightning_strike_count') and $month.lightning_strike_count.sum is not None 
          #set $mlsc = $month.lightning_strike_count.sum 
        #end if
        #set $ylsc = "N/A"
        #if $varExists('year.lightning_strike_count') and $year.lightning_strike_count.sum is not None 
          #set $ylsc = $year.lightning_strike_count.sum 
        #end if
        #set $dysc = "N/A"
        #if $varExists('day.lightning_strike_count') and $day.lightning_strike_count.sum is not None 
          #set $dysc = $day.lightning_strike_count.sum 
        #end if
	#set $atsc = "N/A"
        #if $varExists('day.lightning_strike_count') and $day.lightning_strike_count.sum is not None
          #set $atsc = $alltime.lightning_strike_count.sum
        #end if
        #set $ysc = "N/A"
        #if $varExists('day.lightning_strike_count') and $day.lightning_strike_count.sum is not None
          #set $ysc = $yesterday.lightning_strike_count.sum
        #end if
        #set $ldlt = "N/A"
        #if $varExists('year.lightning_distance.lasttime') and $year.lightning_distance.lasttime is not None  
           #set $ldlt = $year.lightning_distance.lasttime
        #end if
  
          #import time
#set almost_end = $rainyear.end.raw - 1
#set almost_end_tt = $time.localtime($almost_end)
#######################
include('settings.php');
include('dvmFunctions.php');
$weewxrt = array_map(function ($v)
{
    if ($v == 'NULL')
    {
        return null;
    }
    return $v;
}
, explode(" ", file_get_contents($livedata)));
if (isset($weewxapi))
{
    $dvm["rain_alltime"] = $weewxapi[151];
    $year = substr($weewxrt[0], 6);
    //if ($livedataFormat == 'WeeWX-W34')
    //{
        if (isset($weewxrt[23]))
        {
            $weewxrt[23] = (float)(1 * $weewxrt[23]);
            $weewxrt[23] = number_format((float)$weewxrt[23], 0, '.', '');
        }
    //}
    $recordDate = mktime(substr($weewxrt[1], 0, 2) , substr($weewxrt[1], 3, 2) , substr($weewxrt[1], 6, 2) , substr($weewxrt[0], 3, 2) , substr($weewxrt[0], 0, 2) , $year);

    $weewxapi[0] = ($weewxrt[54] == 'NULL' ? $weewxapi[205] : $weewxrt[54]); // Use Archive data if loop data missing^M
    $weewxapi[1] = $weewxrt[10];
    $weewxapi[2] = ($weewxapi[34] == "   N/A" ? "0" : $weewxapi[34]);
    $weewxapi[3] = ($weewxapi[36] == "   N/A" ? "0" : $weewxapi[36]);
    $weewxapi[4] = $weewxrt[15]; // mb or hPa or kPa or in
    $weewxapi[5] = $weewxrt[10] - ($weewxapi[18] == "   N/A" ? "0" : $weewxapi[18]);
    $weewxapi[6] = $weewxrt[39];
    $weewxapi[7] = ($weewxrt[52] == "   N/A" ? "0" : $weewxrt[52]);
    $weewxapi[8] = (is_numeric($weewxrt[4]) ? number_format($weewxrt[4], 1) : null);
    $weewxapi[9] = ($weewxrt[41] == 'NULL' ? $weewxapi[41] : $weewxrt[41]); // Use Archive data if loop data missing^M
    $weewxapi[10] = (is_numeric($weewxrt[3]) ? number_format($weewxrt[3], 0) : null);
    $weewxapi[11] = $weewxrt[23];
    $weewxapi[12] = ($weewxapi[71] == "   N/A" ? "0" : $weewxapi[71]);
    $weewxapi[13] = $weewxrt[23] - ($weewxapi[71] == "   N/A" ? "0" : $weewxapi[71]);
    $weewxapi[14] = $weewxrt[58];
    $weewxapi[15] = $weewxrt[59];
    $weewxapi[16] = $weewxrt[60];
    $weewxapi[17] = $weewxrt[61];
    $weewxapi[18] = $weewxrt[62];
    $weewxapi[19] = (is_numeric($weewxrt[45]) ? number_format($weewxrt[45] / 0.00809399477, 0, '.', '') : null);
    $weewxapi[20] = $weewxrt[8];
    $weewxapi[21] = (is_numeric($weewxrt[21]) ? number_format($weewxrt[21], 1) : null);
    $weewxapi[22] = $weewxrt[9];
    $weewxapi[23] = (is_numeric($weewxrt[19]) ? number_format($weewxrt[19], 1) : null);
    $weewxapi[24] = (is_numeric($weewxrt[20]) ? number_format($weewxrt[20], 1) : null);
    $weewxapi[25] = $weewxrt[16]; // mm or in
    $weewxapi[26] = (is_numeric($weewxrt[47]) ? number_format($weewxrt[47], 1) : null);
    $weewxapi[27] = $weewxrt[38];
    $weewxapi[28] = (is_numeric($weewxrt[45]) ? round($weewxrt[45], 1) : null);
    $weewxapi[29] = $weewxrt[2];
    $weewxapi[30] = $weewxrt[14]; // C
    $weewxapi[31] = $weewxrt[22];
    $weewxapi[32] = heatIndex($weewxrt[22], $weewxrt[23]); // must set temp_units first
    $weewxapi[33] = (is_numeric($weewxrt[26]) ? number_format($weewxrt[26], 1) : null);
    $weewxapi[34] = (is_numeric($weewxrt[28]) ? number_format($weewxrt[28], 1) : null);
    $weewxapi[35] = (is_numeric($weewxrt[67]) ? number_format($weewxrt[67], 1) : null);
    $weewxapi[36] = $weewxrt[27];
    $weewxapi[37] = $weewxrt[29];$weather["temp_avg"] = ($weewxapi[123] == "   N/A" ? "0" : $weewxapi[123]);
    $weewxapi[38] = $weewxrt[43];
    $weewxapi[39] = ($weewxrt[24] == 'NULL' ? $weewxapi[24] : $weewxrt[24]); // Use Archive data if loop data missing^M
    $weewxapi[40] = $weewxrt[5]; //Console's Average Wind Speed
    $weewxapi[41] = (is_numeric($weewxrt[7]) ? number_format($weewxrt[7], 0) : null);
    $weewxapi[42] = $weewxrt[12];
    $weewxapi[43] = (is_numeric($weewxrt[30]) ? number_format($weewxrt[30], 1) : null);
    $weewxapi[44] = (is_numeric($weewxrt[32]) ? number_format($weewxrt[32], 1) : null);
    $weewxapi[45] = $weewxrt[13]; // m/s or mph or km/h or kts
    $weewxapi[46] = (is_numeric($weewxrt[72]) ? number_format($weewxrt[72], 1) : null);
    $weewxapi[47] = $weewxrt[40]; // Wind Speed Gust - Max speed of last 10 minutes
    $weewxapi[48] = $weewxrt[31];
    $weewxapi[49] = $weewxrt[33];
    $weewxapi[50] = ($weewxrt[17] == "   N/A" ? "0" : $weewxrt[17]);


$dvm["location"] = "$station.location";
$dvm["name"] = "$station.location";
$dvm["latitude"] = "$station.stn_info.latitude_f";
$dvm["longitude"] = "$station.stn_info.longitude_f";
$dvm["altitude_meters"] = "$station.altitude.meter.raw";
$dvm["link"] = "$station.station_url";
$dvm["hardware"] = "$station.hardware";



    $theme_switch = "$bodyTheme";

    

$dvm["barometer_yesterday_max"] = $weewxapi[100] = "$yesterday.barometer.max.format(add_label=False, $localize=False)";
$dvm["barometer_yesterday_maxtime"] = weewxapi[101] = "$yesterday.barometer.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["barometer_yesterday_min"] = $weewxapi[102] = "$yesterday.barometer.min.format(add_label=False, $localize=False)";
$dvm["barometer_yesterday_mintime"] = weewxapi[103] = "$yesterday.barometer.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["dewpoint_yesterday_max"] = $weewxapi[104] = "$yesterday.dewpoint.max.format(add_label=False, $localize=False)";
$dvm["dewpoint_yesterday_maxtime"] = $weewxapi[105] = "$yesterday.dewpoint.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["dewpoint_yesterday_min"] = $weewxapi[106] = "$yesterday.dewpoint.min.format(add_label=False, $localize=False)";
$dvm["dewpoint_yesterday_mintime"] = $weewxapi[107] = "$yesterday.dewpoint.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["humidity_yesterday_max"] = $weewxapi[108] = "$yesterday.outHumidity.max.format(add_label=False, $localize=False)";
$dvm["humidity_yesterday_maxtime"] = $weewxapi[109] = "$yesterday.outHumidity.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["humidity_yesterday_min"] = $weewxapi[110] = "$yesterday.outHumidity.min.format(add_label=False, $localize=False)";	
$dvm["humidity_yesterday_mintime"] = $weewxapi[111] = "$yesterday.outHumidity.mintime.format(format_string="%Y%m%d%H%M%S")";  
$dvm["rain_yesterday_sum"] = $weewxapi[112] = "$yesterday.rain.sum.format(add_label=False, $localize=False)";
$dvm["radiation_yesterday_max"] = $weewxapi[113] = "$yesterday.radiation.max.format(add_label=False, $localize=False)";
$dvm["radiation_yesterday_maxtime"] = $weewxapi[114] = "$yesterday.radiation.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["rain_yesterday_rate_max"] = $weewxapi[115] = "$yesterday.rainRate.max.format(add_label=False, $localize=False)";
$dvm["rain_yesterday_rate_maxtime"] = $weewxapi[116] = "$yesterday.rainRate.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["rain_yesterday_sum"] = $weewxapi[117] = "$yesterday.rain.sum.format(add_label=False, $localize=False)";
$dvm["temperature_yesterday_outside_max"] = $weewxapi[118] = "$yesterday.outTemp.max.format(add_label=False, $localize=False)";
$dvm["temperature_yesterday_outside_maxtime"] = $weewxapi[119] = "$yesterday.outTemp.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["temperature_yesterday_outside_min"] = $weewxapi[120] = "$yesterday.outTemp.min.format(add_label=False, $localize=False)";
$dvm["temperature_yesterday_outside_mintime"] = $weewxapi[121] = "$yesterday.outTemp.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["uv_yesterday_max"] = "$yesterday.UV.max.format(add_label=False, $localize=False)";
$dvm["uv_yesterday_maxtime"] = $weewxapi[122] = "$yesterday.UV.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["wind_yesterday_speed_max"] = $weewxapi[123] = "$yesterday.windSpeed.max.format(add_label=False, $localize=False)";
$dvm["wind_yesterday_speed_maxtime"] = $weewxapi[124] = "$yesterday.windSpeed.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["wind_yesterday_gust_max"] = $weewxapi[125] = "$yesterday.windGust.max.format(add_label=False, $localize=False)";
$dvm["wind_yesterday_gust_maxtime"] = $weewxapi[126] = "$yesterday.windGust.maxtime.format(format_string="%Y%m%d%H%M%S")";

$dvm["datetime_latest"] = $weewxapi[220] = "$latest.dateTime.format(format_string="%Y%m%d%H%M%S")";
$dvm["rain_last"] = $weewxapi[221] = "$last_rain.format(format_string="%Y%m%d%H%M%S")";

$dvm["appTemp_current"] = $weewxapi[301] = "$current.appTemp.format(add_label=False, $localize=False)";
$dvm["cloud_current_base"] = $weewxapi[302] = "$current.cloudbase.format(add_label=False, $localize=False)";
$dvm["cloud_current_cover"] = $weewxapi[303] = "$current.signal8.format("%.0f")";
$dvm["heatindex_current"] = $weewxapi[304] = "$current.heatindex.format(add_label=False, $localize=False)";
$dvm["particle_current_pm2.5"] = $weewxapi[305] = "$current.pm2_5.format(add_label=False, $localize=False)";
$dvm["particle_current_pm10.0"] = $weewxapi[306] = "$current.pm10_0.format(add_label=False, $localize=False)";
$dvm["windchill_current"] = $weewxapi[307] = "$current.windchill.format(add_label=False, $localize=False)";   
$dvm["wind_current_gust"] = $weewxapi[308] = "$current.windGust.format(add_label=False, $localize=False)";
$dvm["station_current_uptime"] = $weewxapi[309] = "$station.uptime";

$dvm["wind_5min_speed_avg"] = $weewxapi[400] = "$span($time_delta=300).windSpeed.avg.format(add_label=False, $localize=False)";
$dvm["wind_10min_direction_avg"] = $weewxapi[401] = "$span($time_delta=600).windDir.avg.format(add_label=False, $localize=False)";
$dvm["dewpoint_15min_outside_avg"] = $weewxapi[402] = "$span(time_delta=900).dewpoint.avg.format(add_label=False, $localize=False)";
$dvm["humidity_15min_inside_avg"] = $weewxapi[403] = "$span(time_delta=900).inHumidity.avg.format(add_label=False, $localize=False)";
$dvm["humidity_15min_outside_avg"] = $weewxapi[404] = "$span(time_delta=900).outHumidity.avg.format(add_label=False, $localize=False)";
$dvm["temperature_15min_inside_avg"] = $weewxapi[405] = "$span(time_delta=900).inTemp.avg.format(add_label=False, $localize=False)";
$dvm["temperature_15min_outside_avg"] = $weewxapi[406] = "$span(time_delta=900).outTemp.avg.format(add_label=False, $localize=False)";
$dvm["wind_hour_speed_max"] = $weewxapi[407] = "$span($time_delta=3600).windGust.max.format(add_label=False, $localize=False)";
$dvm["wind_15min_speed_avg"] = $weewxapi[408] = "$span($time_delta=900).windSpeed.avg.format(add_label=False, $localize=False)";
$dvm["wind_30min_speed_avg"] = $weewxapi[409] = "$span($time_delta=1800).windSpeed.avg.format(add_label=False, $localize=False)";
$dvm["barometer_hour_avg"] = $weewxapi[410] = "$span($hour_delta=1).barometer.avg.format(add_label=False, $localize=False)";
$dvm["rain_hour_sum"] = $weewxapi[411] = ""$span($hour_delta=1).rain.sum.format(add_label=False, $localize=False)";
$dvm["temperature_hour_outside_max"] = $weewxapi[412] = ""$span($hour_delta=1).outTemp.max.format(add_label=False, $localize=False)";
$dvm["temperature_hour_outside_avg"] = $weewxapi[413] = ""$span($hour_delta=1).outTemp.avg.format(add_label=False, $localize=False)";
$dvm["rain_3hour_sum"] = $weewxapi[414] = ""$span($hour_delta=3).rain.sum.format(add_label=False, $localize=False)";
$dvm["particle_24hour_pm2.5_avg"] = $weewxapi[415] = ""$span($hour_delta=24).pm2_5.avg.format(add_label=False, $localize=False)"; 
$dvm["particle_24hour_pm10.0_avg"] = $weewxapi[416] = ""$span($hour_delta=24).pm10_0.avg.format(add_label=False, $localize=False)";
$dvm["rain_24hour_sum"] = $weewxapi[417] = ""$span($hour_delta=24).rain.sum.format(add_label=False, $localize=False)";

$dvm["barometer_day_max"] = $weewxapi[500] = "$day.barometer.max.format(add_label=False, $localize=False)";
$dvm["barometer_day_maxtime"] = weewxapi[101] = "$day.barometer.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["barometer_day_min"] = $weewxapi[502] = "$day.barometer.min.format(add_label=False, $localize=False)";
$dvm["barometer_day_mintime"] = weewxapi[103] = "$day.barometer.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["dewpoint_day_max"] = $weewxapi[504] = "$day.dewpoint.max.format(add_label=False, $localize=False)";
$dvm["dewpoint_day_maxtime"] = $weewxapi[505] = "$day.dewpoint.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["dewpoint_day_min"] = $weewxapi[506] = "$day.dewpoint.min.format(add_label=False, $localize=False)";
$dvm["dewpoint_day_mintime"] = $weewxapi[507] = "$day.dewpoint.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["humidity_day_max"] = $weewxapi[508] = "$day.outHumidity.max.format(add_label=False, $localize=False)";
$dvm["humidity_day_maxtime"] = $weewxapi[509] = "$day.outHumidity.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["humidity_day_min"] = $weewxapi[510] = "$day.outHumidity.min.format(add_label=False, $localize=False)";	
$dvm["humidity_day_mintime"] = $weewxapi[511] = "$day.outHumidity.mintime.format(format_string="%Y%m%d%H%M%S")";  
$dvm["rain_day_sum"] = $weewxapi[512] = "$day.rain.sum.format(add_label=False, $localize=False)";
$dvm["radiation_day_max"] = $weewxapi[513] = "$day.radiation.max.format(add_label=False, $localize=False)";
$dvm["radiation_day_maxtime"] = $weewxapi[514] = "$day.radiation.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["rain_day_rate_max"] = $weewxapi[515] = "$day.rainRate.max.format(add_label=False, $localize=False)";
$dvm["rain_day_rate_maxtime"] = $weewxapi[516] = "$day.rainRate.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["rain_day_sum"] = $weewxapi[517] = "$day.rain.sum.format(add_label=False, $localize=False)";
$dvm["temperature_day_outside_max"] = $weewxapi[518] = "$day.outTemp.max.format(add_label=False, $localize=False)";
$dvm["temperature_day_outside_maxtime"] = $weewxapi[519] = "$day.outTemp.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["temperature_day_outside_min"] = $weewxapi[520] = "$day.outTemp.min.format(add_label=False, $localize=False)";
$dvm["temperature_day_outside_mintime"] = $weewxapi[521] = "$day.outTemp.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["uv_day_max"] = "$day.UV.max.format(add_label=False, $localize=False)";
$dvm["uv_day_maxtime"] = $weewxapi[522] = "$day.UV.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["wind_day_speed_max"] = $weewxapi[523] = "$day.windSpeed.max.format(add_label=False, $localize=False)";
$dvm["wind_day_speed_maxtime"] = $weewxapi[524] = "$day.windSpeed.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["wind_day_gust_max"] = $weewxapi[525] = "$day.windGust.max.format(add_label=False, $localize=False)";
$dvm["wind_day_gust_maxtime"] = $weewxapi[526] = "$day.windGust.maxtime.format(format_string="%Y%m%d%H%M%S")";



$dvm["barometer_month_max"] = $weewxapi[600] = "$month.barometer.max.format(add_label=False, $localize=False)";
$dvm["barometer_month_maxtime"] = weewxapi[101] = "$month.barometer.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["barometer_month_min"] = $weewxapi[602] = "$month.barometer.min.format(add_label=False, $localize=False)";
$dvm["barometer_month_mintime"] = weewxapi[103] = "$month.barometer.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["dewpoint_month_max"] = $weewxapi[604] = "$month.dewpoint.max.format(add_label=False, $localize=False)";
$dvm["dewpoint_month_maxtime"] = $weewxapi[605] = "$month.dewpoint.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["dewpoint_month_min"] = $weewxapi[606] = "$month.dewpoint.min.format(add_label=False, $localize=False)";
$dvm["dewpoint_month_mintime"] = $weewxapi[607] = "$month.dewpoint.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["humidity_month_max"] = $weewxapi[608] = "$month.outHumidity.max.format(add_label=False, $localize=False)";
$dvm["humidity_month_maxtime"] = $weewxapi[609] = "$month.outHumidity.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["humidity_month_min"] = $weewxapi[610] = "$month.outHumidity.min.format(add_label=False, $localize=False)";	
$dvm["humidity_month_mintime"] = $weewxapi[611] = "$month.outHumidity.mintime.format(format_string="%Y%m%d%H%M%S")";  
$dvm["rain_month_sum"] = $weewxapi[612] = "$month.rain.sum.format(add_label=False, $localize=False)";
$dvm["radiation_month_max"] = $weewxapi[613] = "$month.radiation.max.format(add_label=False, $localize=False)";
$dvm["radiation_month_maxtime"] = $weewxapi[614] = "$month.radiation.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["rain_month_rate_max"] = $weewxapi[615] = "$month.rainRate.max.format(add_label=False, $localize=False)";
$dvm["rain_month_rate_maxtime"] = $weewxapi[616] = "$month.rainRate.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["rain_month_sum"] = $weewxapi[617] = "$month.rain.sum.format(add_label=False, $localize=False)";
$dvm["temperature_month_outside_max"] = $weewxapi[618] = "$month.outTemp.max.format(add_label=False, $localize=False)";
$dvm["temperature_month_outside_maxtime"] = $weewxapi[619] = "$month.outTemp.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["temperature_month_outside_min"] = $weewxapi[620] = "$month.outTemp.min.format(add_label=False, $localize=False)";
$dvm["temperature_month_outside_mintime"] = $weewxapi[621] = "$month.outTemp.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["uv_month_max"] = "$month.UV.max.format(add_label=False, $localize=False)";
$dvm["uv_month_maxtime"] = $weewxapi[622] = "$month.UV.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["wind_month_speed_max"] = $weewxapi[623] = "$month.windSpeed.max.format(add_label=False, $localize=False)";
$dvm["wind_month_speed_maxtime"] = $weewxapi[624] = "$month.windSpeed.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["wind_month_gust_max"] = $weewxapi[625] = "$month.windGust.max.format(add_label=False, $localize=False)";
$dvm["wind_month_gust_maxtime"] = $weewxapi[626] = "$month.windGust.maxtime.format(format_string="%Y%m%d%H%M%S")";



$dvm["barometer_year_max"] = $weewxapi[700] = "$year.barometer.max.format(add_label=False, $localize=False)";
$dvm["barometer_year_maxtime"] = weewxapi[101] = "$year.barometer.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["barometer_year_min"] = $weewxapi[702] = "$year.barometer.min.format(add_label=False, $localize=False)";
$dvm["barometer_year_mintime"] = weewxapi[103] = "$year.barometer.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["dewpoint_year_max"] = $weewxapi[704] = "$year.dewpoint.max.format(add_label=False, $localize=False)";
$dvm["dewpoint_year_maxtime"] = $weewxapi[705] = "$year.dewpoint.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["dewpoint_year_min"] = $weewxapi[706] = "$year.dewpoint.min.format(add_label=False, $localize=False)";
$dvm["dewpoint_year_mintime"] = $weewxapi[707] = "$year.dewpoint.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["humidity_year_max"] = $weewxapi[708] = "$year.outHumidity.max.format(add_label=False, $localize=False)";
$dvm["humidity_year_maxtime"] = $weewxapi[709] = "$year.outHumidity.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["humidity_year_min"] = $weewxapi[710] = "$year.outHumidity.min.format(add_label=False, $localize=False)";	
$dvm["humidity_year_mintime"] = $weewxapi[711] = "$year.outHumidity.mintime.format(format_string="%Y%m%d%H%M%S")";  
$dvm["rain_year_sum"] = $weewxapi[712] = "$year.rain.sum.format(add_label=False, $localize=False)";
$dvm["radiation_year_max"] = $weewxapi[713] = "$year.radiation.max.format(add_label=False, $localize=False)";
$dvm["radiation_year_maxtime"] = $weewxapi[714] = "$year.radiation.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["rain_year_rate_max"] = $weewxapi[715] = "$year.rainRate.max.format(add_label=False, $localize=False)";
$dvm["rain_year_rate_maxtime"] = $weewxapi[716] = "$year.rainRate.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["rain_year_sum"] = $weewxapi[717] = "$year.rain.sum.format(add_label=False, $localize=False)";
$dvm["temperature_year_outside_max"] = $weewxapi[718] = "$year.outTemp.max.format(add_label=False, $localize=False)";
$dvm["temperature_year_outside_maxtime"] = $weewxapi[719] = "$year.outTemp.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["temperature_year_outside_min"] = $weewxapi[720] = "$year.outTemp.min.format(add_label=False, $localize=False)";
$dvm["temperature_year_outside_mintime"] = $weewxapi[721] = "$year.outTemp.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["uv_year_max"] = "$year.UV.max.format(add_label=False, $localize=False)";
$dvm["uv_year_maxtime"] = $weewxapi[722] = "$year.UV.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["wind_year_speed_max"] = $weewxapi[723] = "$year.windSpeed.max.format(add_label=False, $localize=False)";
$dvm["wind_year_speed_maxtime"] = $weewxapi[724] = "$year.windSpeed.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["wind_year_gust_max"] = $weewxapi[725] = "$year.windGust.max.format(add_label=False, $localize=False)";
$dvm["wind_year_gust_maxtime"] = $weewxapi[726] = "$year.windGust.maxtime.format(format_string="%Y%m%d%H%M%S")";


$dvm["barometer_alltime_max"] = $weewxapi[800] = "$alltime.barometer.max.format(add_label=False, $localize=False)";
$dvm["barometer_alltime_maxtime"] = weewxapi[101] = "$alltime.barometer.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["barometer_alltime_min"] = $weewxapi[802] = "$alltime.barometer.min.format(add_label=False, $localize=False)";
$dvm["barometer_alltime_mintime"] = weewxapi[103] = "$alltime.barometer.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["dewpoint_alltime_max"] = $weewxapi[804] = "$alltime.dewpoint.max.format(add_label=False, $localize=False)";
$dvm["dewpoint_alltime_maxtime"] = $weewxapi[805] = "$alltime.dewpoint.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["dewpoint_alltime_min"] = $weewxapi[806] = "$alltime.dewpoint.min.format(add_label=False, $localize=False)";
$dvm["dewpoint_alltime_mintime"] = $weewxapi[807] = "$alltime.dewpoint.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["humidity_alltime_max"] = $weewxapi[808] = "$alltime.outHumidity.max.format(add_label=False, $localize=False)";
$dvm["humidity_alltime_maxtime"] = $weewxapi[809] = "$alltime.outHumidity.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["humidity_alltime_min"] = $weewxapi[810] = "$alltime.outHumidity.min.format(add_label=False, $localize=False)";	
$dvm["humidity_alltime_mintime"] = $weewxapi[811] = "$alltime.outHumidity.mintime.format(format_string="%Y%m%d%H%M%S")";  
$dvm["rain_alltime_sum"] = $weewxapi[812] = "$alltime.rain.sum.format(add_label=False, $localize=False)";
$dvm["radiation_alltime_max"] = $weewxapi[813] = "$alltime.radiation.max.format(add_label=False, $localize=False)";
$dvm["radiation_alltime_maxtime"] = $weewxapi[814] = "$alltime.radiation.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["rain_alltime_rate_max"] = $weewxapi[815] = "$alltime.rainRate.max.format(add_label=False, $localize=False)";
$dvm["rain_alltime_rate_maxtime"] = $weewxapi[816] = "$alltime.rainRate.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["rain_alltime_sum"] = $weewxapi[817] = "$alltime.rain.sum.format(add_label=False, $localize=False)";
$dvm["temperature_alltime_outside_max"] = $weewxapi[818] = "$alltime.outTemp.max.format(add_label=False, $localize=False)";
$dvm["temperature_alltime_outside_maxtime"] = $weewxapi[819] = "$alltime.outTemp.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["temperature_alltime_outside_min"] = $weewxapi[820] = "$alltime.outTemp.min.format(add_label=False, $localize=False)";
$dvm["temperature_alltime_outside_mintime"] = $weewxapi[821] = "$alltime.outTemp.mintime.format(format_string="%Y%m%d%H%M%S")";
$dvm["uv_alltime_max"] = "$alltime.UV.max.format(add_label=False, $localize=False)";
$dvm["uv_alltime_maxtime"] = $weewxapi[822] = "$alltime.UV.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["wind_alltime_speed_max"] = $weewxapi[823] = "$alltime.windSpeed.max.format(add_label=False, $localize=False)";
$dvm["wind_alltime_speed_maxtime"] = $weewxapi[824] = "$alltime.windSpeed.maxtime.format(format_string="%Y%m%d%H%M%S")";
$dvm["wind_alltime_gust_max"] = $weewxapi[825] = "$alltime.windGust.max.format(add_label=False, $localize=False)";
$dvm["wind_alltime_gust_maxtime"] = $weewxapi[826] = "$alltime.windGust.maxtime.format(format_string="%Y%m%d%H%M%S")";


$dvm["lightning_distance"] = $weewxapi[900] = "$alltime.lightning_distance.lastnonzero.format(add_label=False, $localize=False)";
$dvm["lastlightning_time"] = $weewxapi[901] = "$alltime.lightning_last_det_time.lastnonzero.raw";
$dvm["lightning_count_sum"] = $weewxapi[902] = "$alltime.lightning_strike_count.sum";
$dvm["lightning_3hour_sum"] = $weewxapi[903] = "$span($hour_delta=3)lightning_strike_count.sum";


## If extended almanac information is available, do extra calculations.
#if $almanac.hasExtras
  #set $sun_altitude = $almanac.sun.alt
  #if $sun_altitude < 0
    #set $sun_None="<i>(Always down)</i>"
    #set $daylight_str = "00:00"
  #else
    #set $sun_None="<i>(Always up)</i>"
    #set $daylight_str = "24:00"
  #end if
  #set $sunrise_ts = $almanac.sun.rise.raw
  #set $sunset_ts = $almanac.sun.set.raw
  #if $sunrise_ts and $sunset_ts
    #set $now = $current.dateTime.raw
    #set $today_daylight = $sunset_ts -  $sunrise_ts
    #set $seconds = $today_daylight
    #set $hours = $seconds //3600
    #set $seconds %= 3600
    #set $minutes = $seconds//60
    #set $seconds %= 60
    #set $daylight_str = "%d hours, %d minutes, %d seconds" % ($hours, $minutes, $seconds)
    #set $yesterday = $now - 24*3600
    #set $yesterday_daylight = $almanac($almanac_time=$yesterday).sun.set.raw - $almanac($almanac_time=$yesterday).sun.rise.raw
    #set $difference = $today_daylight - $yesterday_daylight
    #if $difference
      #set $delta = abs($difference)
      #set $amt_str = "%s%d seconds" % (str(int($delta) // 60) + " minutes, " if ($delta // 60) > 0 else "", $delta % 60 if ($delta // 60) > 0 else $delta)
      #if $difference > 0
        #set $delta_str = "%s more than yesterday" % $amt_str
      #else
        #set $delta_str = "%s less than yesterday" % $amt_str
      #end if
      ##set $daylight_str = "%s<br/>%s" % ($daylight_str, $delta_str)
    #end if
  #end if
#end if
#if $almanac.hasExtras
$dvm["astronomical_twighlight_begin"] = "$almanac(horizon=-18).sun(use_center=1).rise";	  
$dvm["nautical_twighlight_begin"] = "$almanac(horizon=-12).sun(use_center=1).rise";
$dvm["civil_twighlight_begin"] = "$almanac(horizon=-6).sun(use_center=1).rise";
$dvm["sun_rise"] = "$almanac.sun.rise";
$dvm["sun_meridian_transit"] = "$almanac.sun.transit";
$dvm["sun_set"] = "$almanac.sun.set";
$dvm["civil_twighlight_end"] = "$almanac(horizon=-6).sun(use_center=1).set";
$dvm["nautical_twighlight_end"] = "$almanac(horizon=-12).sun(use_center=1).set";
$dvm["astronomical_twighlight_end"] = "$almanac(horizon=-18).sun(use_center=1).set";
$dvm["sun_azimuth"] = "$almanac.sun.az";          
$dvm["sun_alt"] = "$almanac.sun.alt";          
$dvm["sun_right_ascension"] = "$almanac.sun.ra";          
$dvm["sun_declination"] = "$almanac.sun.dec";
$dvm["sidereal_time"] = "$almanac.sidereal_time";          
$dvm["winter_solstice"] = "$almanac.next_winter_solstice";
$dvm["summer_solstice"] = "$almanac.next_summer_solstice";
$dvm["vernal_equinox"] = "$almanac.next_vernal_equinox";
$dvm["autumnal_equinox"] = "$almanac.next_autumnal_equinox";
$dvm["total_dayligh"] = "$daylight_str";
$dvm["moon_rise"] = "$almanac.moon.rise";
$dvm["moon_meridian_transi"] = "$almanac.moon.transit";
$dvm["moon_set"] = "$almanac.moon.set";
$dvm["moon_azimuth"] = "$almanac.moon.az";          
$dvm["moon_altitude"] = "$almanac.moon.alt";          
$dvm["moon_right_ascension"] = "$almanac.moon.ra";          
$dvm["moon_declination"] = "$almanac.moon.dec";         
$dvm["new_moon"] = "$almanac.next_new_moon";
$dvm["first_quarter_moon"] = "$almanac.next_first_quarter_moon";
$dvm["full_moon"] = "$almanac.next_full_moon";
$dvm["last_quarter_moon"] = "$almanac.next_last_quarter_moon";
$dvm["moon_phase"] = "$almanac.moon_phase";
$dvm["moon_fullness"] = "$almanac.moon_fullness% full";
$dvm["mercury_hlongitude"] = "$almanac.mercury.hlong";
$dvm["venus_hlongitude"] = "$almanac.venus.hlong";
$dvm["earth_hlongitude"] = "$almanac.sun.hlong";
$dvm["mars_hlongitude"] = "$almanac.mars.hlong";
$dvm["jupiter_hlongitude"] = "$almanac.jupiter.hlong";
$dvm["saturn_hlongitude"] = "$almanac.saturn.hlong";
$dvm["uranus_hlongitude"] = "$almanac.uranus.hlong";
$dvm["neptune_hlongitude"] = "$almanac.neptune.hlong";
$dvm["pluto_hlongitude"] = "$almanac.pluto.hlong";

$civilam = $sun["civil_twilight_begin"];

if (
    strtotime(date("G.i")) >= strtotime($civil_twighlight_begin) &&
    strtotime(date("G.i")) < strtotime($civil_twighlight_end)
) {
    $dayPartCivil = "day";
} else {
    $dayPartCivil = "night";
}
if (
    strtotime(date("G.i")) >= strtotime($nautical_twighlight_begin) &&
    strtotime(date("G.i")) < strtotime($nautical_twighlight_end)
) {
    $dayPartNautical = "day";
} else {
    $dayPartNautical = "night";
}
if (
    strtotime(date("G.i")) >= strtotime($astronomical_twighlight_begin) &&
    strtotime(date("G.i")) < strtotime($astronomical_twighlight_end)
) {
    $dayPartAstronomical = "day";
} else {
    $dayPartAstronomical = "night";
}
if (
    strtotime(date("G.i")) >= strtotime($sun_rise) &&
    strtotime(date("G.i")) < strtotime($sun_set)
) {
    $dayPartNatural = "day";
} else {
    $dayPartNatural = "night";
}
#end if


?>




