#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
#encoding UTF-8
##
##
##		Calculate length of daylight
	#set $daylength = time.strftime('%H:%M', time.gmtime(int($almanac.sun.set.raw -  $almanac.sun.rise.raw)))
##		Truncate station uptime decimals
	#set $stationuptime = str($station.os_uptime.raw).split('.')[0] 	
##		Calculate Beaufort based on wind speed in knots
          #if $varExists('$current.windSpeed') and $current.windSpeed.raw is not None
          #if $unit.unit_type.windSpeed == 'mile_per_hour'
          #set $kts = $current.windSpeed.raw * 0.8689762
          #elif $unit.unit_type.windSpeed == 'km_per_hour'
            #set $kts = $current.windSpeed.raw * 0.539956
          #elif $unit.unit_type.windSpeed == 'meter_per_second'
            #set $kts = $current.windSpeed.raw * 1.943844
          #elif $unit.unit_type.windSpeed == 'knot'
            #set $kts = $current.windSpeed.raw
          #else
            #set $kts = 0
          #end if
          #if $kts < 1
            #set $beaufort = 0
          #elif $kts < 4
            #set $beaufort = 1
          #elif $kts < 7
            #set $beaufort = 2
          #elif $kts < 11
            #set $beaufort = 3
          #elif $kts < 17
            #set $beaufort = 4
          #elif $kts < 22
            #set $beaufort = 5
          #elif $kts < 28
            #set $beaufort = 6
          #elif $kts < 34
            #set $beaufort = 7
          #elif $kts < 41
            #set $beaufort = 8
          #elif $kts < 48
            #set $beaufort = 9
          #elif $kts < 56
            #set $beaufort = 10
          #elif $kts < 64
            #set $beaufort = 11
          #else
            #set $beaufort = 12
          #end if
          #else
            #set $beaufort = 'N/A'
          #end if
         #if $almanac.moon_phase.lower() == "New".lower()
            #set $moonphase_no = "0"
          #else if $almanac.moon_phase.lower() == "Waxing Crescent".lower()
            #set $moonphase_no = "1"
	  #else if $almanac.moon_phase.lower() == "First Quarter".lower()
            #set $moonphase_no = "2"
	  #else if $almanac.moon_phase.lower() == "Waxing Gibbous".lower()
            #set $moonphase_no = "3"
          #else if $almanac.moon_phase.lower() == "Full".lower()
            #set $moonphase_no = "4"
	  #else if $almanac.moon_phase.lower() == "Waning Gibbous".lower()
            #set $moonphase_no = "5"
	  #else if $almanac.moon_phase.lower() == "Last Quarter".lower()
            #set $moonphase_no = "6"
	  #else if $almanac.moon_phase.lower() == "Waning Crescent".lower()
            #set $moonphase_no = "7"
          #end if
          

    
      #import datetime
      #set $now = datetime.datetime.now()
      #set $nowHour = $now.hour
      #set $sunrise_hour = datetime.datetime.fromtimestamp($almanac.sunrise.raw).strftime('%H')
      #set $sunset_hour = datetime.datetime.fromtimestamp($almanac.sunset.raw).strftime('%H')
        ##if $sunrise_hour <= $nowHour < $sunset_hour ## This works but to keep it inline with JavaScript the below works too
        #if int($sunrise_hour) <= int($nowHour) and int($nowHour) < int($sunset_hour)
            #set $bodyTheme = "light"
            
        #else
            ## Night time, use dark mode
            #set $bodyTheme = "dark"
            
        #end if  

        #set $mlsc = "N/A"
        #if $varExists('month.lightning_strike_count') and $month.lightning_strike_count.sum is not None 
          #set $mlsc = $month.lightning_strike_count.sum 
        #end if
        #set $ylsc = "N/A"
        #if $varExists('year.lightning_strike_count') and $year.lightning_strike_count.sum is not None 
          #set $ylsc = $year.lightning_strike_count.sum 
        #end if
        #set $dysc = "N/A"
        #if $varExists('day.lightning_strike_count') and $day.lightning_strike_count.sum is not None 
          #set $dysc = $day.lightning_strike_count.sum 
        #end if
	#set $atsc = "N/A"
        #if $varExists('day.lightning_strike_count') and $day.lightning_strike_count.sum is not None
          #set $atsc = $alltime.lightning_strike_count.sum
        #end if
        #set $ydsc = "N/A"
        #if $varExists('day.lightning_strike_count') and $day.lightning_strike_count.sum is not None
          #set $ydsc = $yesterday.lightning_strike_count.sum
        #end if
        #set $ldlt = "N/A"
        #if $varExists('year.lightning_distance.lasttime') and $year.lightning_distance.lasttime is not None  
           #set $ldlt = $year.lightning_distance.lasttime
        #end if

  
          #import time
#set almost_end = $rainyear.end.raw - 1
#set almost_end_tt = $time.localtime($almost_end)
{
    "info":
    {
        "location": "$station.location",
        "latitude": $station.stn_info.latitude_f,
        "longitude": $station.stn_info.longitude_f,
        "altitude meters": $station.altitude.meter.raw,
        "metgramlink": "$station.station_url",
        "daylight": "$daylength",
        "trend period": "$trend.time_delta"
    },
    "generation":
    {
        "time": "$current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")",
        "generator": "weewx $station.version"
    },
    "yesterday":
    {
        #if $yesterday.outTemp.has_data
        "max temperature": {"value": $yesterday.outTemp.max.format($localize=False,add_label=False), "at": "$yesterday.outTemp.maxtime.format(format_string="%H:%M")"},
        "min temperature": {"value": $yesterday.outTemp.min.format($localize=False,add_label=False), "at": "$yesterday.outTemp.mintime.format(format_string="%H:%M")"},
        "avg temperature": {"value": $yesterday.outTemp.avg.format($localize=False,add_label=False)},
        #end if
        #if $yesterday.dewpoint.has_data
        "max dewpoint": {"value": $yesterday.dewpoint.max.format($localize=False,add_label=False), "at": "$yesterday.dewpoint.maxtime.format(format_string="%H:%M")"},
        "min dewpoint": {"value": $yesterday.dewpoint.min.format($localize=False,add_label=False), "at": "$yesterday.dewpoint.mintime.format(format_string="%H:%M")"},
        #end if
        #if $yesterday.outHumidity.has_data
        "max humidity": {"value": $yesterday.outHumidity.max.format($localize=False,add_label=False), "at": "$yesterday.outHumidity.maxtime.format(format_string="%H:%M")"},
        "min humidity": {"value": $yesterday.outHumidity.min.format($localize=False,add_label=False), "at": "$yesterday.outHumidity.mintime.format(format_string="%H:%M")"},
        #end if
        #if $yesterday.barometer.has_data
        "max barometer": {"value": $yesterday.barometer.max.format($localize=False,add_label=False), "at": "$yesterday.barometer.maxtime.format(format_string="%H:%M")"},
        "min barometer": {"value": $yesterday.barometer.min.format($localize=False,add_label=False), "at": "$yesterday.barometer.mintime.format(format_string="%H:%M")"},
        #end if
        #if $yesterday.windSpeed.has_data
        "max wind speed": {"value": $yesterday.windSpeed.max.format($localize=False,add_label=False), "at": "$yesterday.windSpeed.maxtime.format(format_string="%H:%M")"},
        #end if
        #if $yesterday.windGust.has_data
        "max wind gust": {"value": $yesterday.windGust.max.format($localize=False,add_label=False), "at": "$yesterday.windGust.maxtime.format(format_string="%H:%M")"},
        #end if
        #if $yesterday.rainRate.has_data
        "max rain rate": {"value": $yesterday.rainRate.max.format($localize=False,add_label=False), "at": "$yesterday.rainRate.maxtime.format(format_string="%H:%M")"},
        #end if
        #if $yesterday.rain.has_data
        "rain total": {"value": $yesterday.rain.sum.format($localize=False,add_label=False)},
        #end if
        #if $yesterday.inTemp.has_data
        "max inside temperature": {"value": $yesterday.inTemp.max.format($localize=False,add_label=False), "at": "$yesterday.inTemp.maxtime.format(format_string="%H:%M")"},
        "min inside temperature": {"value": $yesterday.inTemp.min.format($localize=False,add_label=False), "at": "$yesterday.inTemp.mintime.format(format_string="%H:%M")"},
        #end if
        #if $yesterday.inHumidity.has_data
        "max inside humidity": {"value": $yesterday.inHumidity.max.format($localize=False,add_label=False), "at": "$yesterday.inHumidity.maxtime.format(format_string="%H:%M")"},
        "min inside humidity": {"value": $yesterday.inHumidity.min.format($localize=False,add_label=False), "at": "$yesterday.inHumidity.mintime.format(format_string="%H:%M")"},
        #end if
        #if $yesterday.UV.has_data
        "max UV": {"value": $yesterday.UV.max.format($localize=False,add_label=False), "at": "$yesterday.UV.maxtime.format(format_string="%H:%M")"},
        #end if
        #if $yesterday.radiation.has_data
        "max solar": {"value": $yesterday.radiation.max.format($localize=False,add_label=False), "at": "$yesterday.radiation.maxtime.format(format_string="%H:%M")"},
        #end if
        "lightning strike count": {"value": $ydsc},
        ## Last value can't end with a comma
        "void_end": null
    },
    "current":
    {
        #if $current.dewpoint.has_data
        "dew current": {"value": $current.dewpoint.format($localize=False,add_label=False)},
        #end if
        #if $current.pm2_5.has_data
        "pm25 current": {"value": $current.pm2_5.format($localize=False,add_label=False)},
        "pm25 rolling 24hr": {"value": $current.pm2_5.format($localize=False,add_label=False)},
        #end if
        #if $current.pm10_0.has_data
        "pm10 current": {"value": $current.pmpm10_0.format($localize=False,add_label=False)},
        "pm10 rolling 24hr": {"value": $current.pm10_0.format($localize=False,add_label=False)},
        #end if
        #if $current.signal8.has_data
        "cloud cover": {"value": $current.signal8.format($localize=False,add_label=False)},
        #end if
        #if $current.windGust.has_data
        "wind gust": {"value": $current.windGust.format($localize=False,add_label=False)},
        #end if
        ## Last value can't end with a comma
        "void_end": null
    },
    "day":
    {
        #if $day.outTemp.has_data
        "max temperature": {"value": $day.outTemp.max.format($localize=False,add_label=False), "at": "$day.outTemp.maxtime.format(format_string="%H:%M")"},
        "min temperature": {"value": $day.outTemp.min.format($localize=False,add_label=False), "at": "$day.outTemp.mintime.format(format_string="%H:%M")"},
        "avg temperature": {"value": $day.outTemp.avg.format($localize=False,add_label=False)},
        "avg temperature 60mn": {"value": $span($time_delta=3600).outTemp.avg.format($localize=False,add_label=False)},
        "avg temperature 15mn": {"value": $span($time_delta=900).outTemp.avg.format($localize=False,add_label=False)},
        #end if
        #if $day.dewpoint.has_data
        "max dewpoint": {"value": $day.dewpoint.max.format($localize=False,add_label=False), "at": "$day.dewpoint.maxtime.format(format_string="%H:%M")"},
        "min dewpoint": {"value": $day.dewpoint.min.format($localize=False,add_label=False), "at": "$day.dewpoint.mintime.format(format_string="%H:%M")"},
        #end if
        #if $day.outHumidity.has_data
        "max humidity": {"value": $day.outHumidity.max.format($localize=False,add_label=False), "at": "$day.outHumidity.maxtime.format(format_string="%H:%M")"},
        "min humidity": {"value": $day.outHumidity.min.format($localize=False,add_label=False), "at": "$day.outHumidity.mintime.format(format_string="%H:%M")"},
        #end if
        #if $day.barometer.has_data
        "max barometer": {"value": $day.barometer.max.format($localize=False,add_label=False), "at": "$day.barometer.maxtime.format(format_string="%H:%M")"},
        "min barometer": {"value": $day.barometer.min.format($localize=False,add_label=False), "at": "$day.barometer.mintime.format(format_string="%H:%M")"},
        #end if
        #if $day.windDir.has_data
        "10min avg wind direction": {"value": "$span($time_delta=600).windDir.avg.format($localize=False,add_label=False)"},
        "1hr avg wind direction": {"value": "$span($hour_delta=1).windDir.avg.format($localize=False,add_label=False)"}, 
        "avg wind direction": {"value": "$day.windDir.avg.format($localize=False,add_label=False)"},
         #end if
        #if $day.windSpeed.has_data
        "max wind speed": {"value": $day.windSpeed.max.format($localize=False,add_label=False), "at": "$day.windSpeed.maxtime.format(format_string="%H:%M")"},
        "avg wind speed 10mn": {"value": $span($time_delta=600).windSpeed.avg.format($localize=False,add_label=False)},        
        #end if
        #if $day.windGust.has_data
        "max wind gust": {"value": $day.windGust.max.format($localize=False,add_label=False), "at": "$day.windGust.maxtime.format(format_string="%H:%M")"},
        "max wind gust 60mn": {"value": $span($time_delta=3600).windGust.max.format($localize=False,add_label=False)},
        #end if
        #if $day.rainRate.has_data
        "max rain rate": {"value": $day.rainRate.max.format($localize=False,add_label=False), "at": "$day.rainRate.maxtime.format(format_string="%H:%M")"},
        #end if
        #if $day.rain.has_data
        "rain total": {"value": $day.rain.sum.format($localize=False,add_label=False)},
        "rain last 1hr": {"value": $span($hour_delta=1).rain.sum.format($localize=False,add_label=False)},
        "rain last 3hr": {"value": $span($hour_delta=3).rain.sum.format($localize=False,add_label=False)},
        "rain last 24hr": {"value": $span($hour_delta=24).rain.sum.format($localize=False,add_label=False)},
        "rain last time": {"value": $day.rain.sum.format($localize=False,add_label=False), "at": "$last_rain.format(format_string="%d %b %H:%M")"},
        #end if
        #if $day.inTemp.has_data
        "max inside temperature": {"value": $day.inTemp.max.format($localize=False,add_label=False), "at": "$day.inTemp.maxtime.format(format_string="%H:%M")"},
        "min inside temperature": {"value": $day.inTemp.min.format($localize=False,add_label=False), "at": "$day.inTemp.mintime.format(format_string="%H:%M")"},
        #end if
        #if $day.inHumidity.has_data
        "max inside humidity": {"value": $day.inHumidity.max.format($localize=False,add_label=False), "at": "$day.inHumidity.maxtime.format(format_string="%H:%M")"},
        "min inside humidity": {"value": $day.inHumidity.min.format($localize=False,add_label=False), "at": "$day.inHumidity.mintime.format(format_string="%H:%M")"},
        #end if
        #if $day.UV.has_data
        "max UV": {"value": $day.UV.max.format($localize=False,add_label=False), "at": "$day.UV.maxtime.format(format_string="%H:%M")"},
        #end if
        #if $day.radiation.has_data
        "max solar": {"value": $day.radiation.max.format($localize=False,add_label=False), "at": "$day.radiation.maxtime.format(format_string="%H:%M")"},
        #end if
        "lightning strike count": {"value": $dysc},
        ## Last value can't end with a comma
        "void_end": null
    },
    "month":
    {
        #if $month.outTemp.has_data
        "max temperature": {"value": $month.outTemp.max.format($localize=False,add_label=False), "at": "$month.outTemp.maxtime.format(format_string="%d %b %H:%M")"},
        "min temperature": {"value": $month.outTemp.min.format($localize=False,add_label=False), "at": "$month.outTemp.mintime.format(format_string="%d %b %H:%M")"},
        "avg temperature": {"value": $month.outTemp.avg.format($localize=False,add_label=False)},
        #end if
        #if $month.dewpoint.has_data
        "max dewpoint": {"value": $month.dewpoint.max.format($localize=False,add_label=False), "at": "$month.dewpoint.maxtime.format(format_string="%d %b %H:%M")"},
        "min dewpoint": {"value": $month.dewpoint.min.format($localize=False,add_label=False), "at": "$month.dewpoint.mintime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $month.outHumidity.has_data
        "max humidity": {"value": $month.outHumidity.max.format($localize=False,add_label=False), "at": "$month.outHumidity.maxtime.format(format_string="%d %b %H:%M")"},
        "min humidity": {"value": $month.outHumidity.min.format($localize=False,add_label=False), "at": "$month.outHumidity.mintime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $month.barometer.has_data
        "max barometer": {"value": $month.barometer.max.format($localize=False,add_label=False), "at": "$month.barometer.maxtime.format(format_string="%d %b %H:%M")"},
        "min barometer": {"value": $month.barometer.min.format($localize=False,add_label=False), "at": "$month.barometer.mintime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $month.windSpeed.has_data
        "max wind speed": {"value": $month.windSpeed.max.format($localize=False,add_label=False), "at": "$month.windSpeed.maxtime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $month.windGust.has_data
        "max wind gust": {"value": $month.windGust.max.format($localize=False,add_label=False), "at": "$month.windGust.maxtime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $month.rainRate.has_data
        "max rain rate": {"value": $month.rainRate.max.format($localize=False,add_label=False), "at": "$month.rainRate.maxtime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $month.rain.has_data
        "rain total": {"value": $month.rain.sum.format($localize=False,add_label=False)},
        #end if
        #if $month.inTemp.has_data
        "max inside temperature": {"value": $month.inTemp.max.format($localize=False,add_label=False), "at": "$month.inTemp.maxtime.format(format_string="%d %b %H:%M")"},
        "min inside temperature": {"value": $month.inTemp.min.format($localize=False,add_label=False), "at": "$month.inTemp.mintime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $month.inHumidity.has_data
        "max inside humidity": {"value": $month.inHumidity.max.format($localize=False,add_label=False), "at": "$month.inHumidity.maxtime.format(format_string="%d %b %H:%M")"},
        "min inside humidity": {"value": $month.inHumidity.min.format($localize=False,add_label=False), "at": "$month.inHumidity.mintime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $month.UV.has_data
        "max UV": {"value": $month.UV.max.format($localize=False,add_label=False), "at": "$month.UV.maxtime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $month.radiation.has_data
        "max solar": {"value": $month.radiation.max.format($localize=False,add_label=False), "at": "$month.radiation.maxtime.format(format_string="%d %b %H:%M")"},
        #end if
        "lightning strike count": {"value": $mlsc},
        ## Last value can't end with a comma
        "void_end": null
    },
    "year":
    {
        #if $year.outTemp.has_data
        "max temperature": {"value": $year.outTemp.max.format($localize=False,add_label=False), "at": "$year.outTemp.maxtime.format(format_string="%d %b %H:%M")"},
        "min temperature": {"value": $year.outTemp.min.format($localize=False,add_label=False), "at": "$year.outTemp.mintime.format(format_string="%d %b %H:%M")"},
        "avg temperature": {"value": $year.outTemp.avg.format($localize=False,add_label=False)},
        #end if
        #if $year.dewpoint.has_data
        "max dewpoint": {"value": $year.dewpoint.max.format($localize=False,add_label=False), "at": "$year.dewpoint.maxtime.format(format_string="%d %b %H:%M")"},
        "min dewpoint": {"value": $year.dewpoint.min.format($localize=False,add_label=False), "at": "$year.dewpoint.mintime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $year.outHumidity.has_data
        "max humidity": {"value": $year.outHumidity.max.format($localize=False,add_label=False), "at": "$year.outHumidity.maxtime.format(format_string="%d %b %H:%M")"},
        "min humidity": {"value": $year.outHumidity.min.format($localize=False,add_label=False), "at": "$year.outHumidity.mintime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $year.barometer.has_data
        "max barometer": {"value": $year.barometer.max.format($localize=False,add_label=False), "at": "$year.barometer.maxtime.format(format_string="%d %b %H:%M")"},
        "min barometer": {"value": $year.barometer.min.format($localize=False,add_label=False), "at": "$year.barometer.mintime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $year.windSpeed.has_data
        "max wind speed": {"value": $year.windSpeed.max.format($localize=False,add_label=False), "at": "$year.windSpeed.maxtime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $year.windGust.has_data
        "max wind gust": {"value": $year.windGust.max.format($localize=False,add_label=False), "at": "$year.windGust.maxtime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $year.rainRate.has_data
        "max rain rate": {"value": $year.rainRate.max.format($localize=False,add_label=False), "at": "$year.rainRate.maxtime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $year.rain.has_data
        "rain total": {"value": $year.rain.sum.format($localize=False,add_label=False)},
        #end if
        #if $year.inTemp.has_data
        "max inside temperature": {"value": $year.inTemp.max.format($localize=False,add_label=False), "at": "$year.inTemp.maxtime.format(format_string="%d %b %H:%M")"},
        "min inside temperature": {"value": $year.inTemp.min.format($localize=False,add_label=False), "at": "$year.inTemp.mintime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $year.inHumidity.has_data
        "max inside humidity": {"value": $year.inHumidity.max.format($localize=False,add_label=False), "at": "$year.inHumidity.maxtime.format(format_string="%d %b %H:%M")"},
        "min inside humidity": {"value": $year.inHumidity.min.format($localize=False,add_label=False), "at": "$year.inHumidity.mintime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $year.UV.has_data
        "max UV": {"value": $year.UV.max.format($localize=False,add_label=False), "at": "$year.UV.maxtime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $year.radiation.has_data
        "max solar": {"value": $year.radiation.max.format($localize=False,add_label=False), "at": "$year.radiation.maxtime.format(format_string="%d %b %H:%M")"},
        #end if
        "lightning strike count": {"value": $ylsc},
        ## Last value can't end with a comma
        "void_end": null
    },
    "alltime":
    {
        #if $alltime.outTemp.has_data
        "max temperature": {"value": $alltime.outTemp.max.format($localize=False,add_label=False), "at": "$alltime.outTemp.maxtime.format(format_string="%d %b %Y %H:%M")"},
        "min temperature": {"value": $alltime.outTemp.min.format($localize=False,add_label=False), "at": "$alltime.outTemp.mintime.format(format_string="%d %b %Y %H:%M")"},
        "avg temperature": {"value": $alltime.outTemp.avg.format($localize=False,add_label=False)},
        #end if
        #if $alltime.dewpoint.has_data
        "max dewpoint": {"value": $alltime.dewpoint.max.format($localize=False,add_label=False), "at": "$alltime.dewpoint.maxtime.format(format_string="%d %b %Y %H:%M")"},
        "min dewpoint": {"value": $alltime.dewpoint.min.format($localize=False,add_label=False), "at": "$alltime.dewpoint.mintime.format(format_string="%d %b %Y %H:%M")"},
        #end if
        #if $alltime.outHumidity.has_data
        "max humidity": {"value": $alltime.outHumidity.max.format($localize=False,add_label=False), "at": "$alltime.outHumidity.maxtime.format(format_string="%d %b %Y %H:%M")"},
        "min humidity": {"value": $alltime.outHumidity.min.format($localize=False,add_label=False), "at": "$alltime.outHumidity.mintime.format(format_string="%d %b %Y %H:%M")"},
        #end if
        #if $alltime.barometer.has_data
        "max barometer": {"value": $alltime.barometer.max.format($localize=False,add_label=False), "at": "$alltime.barometer.maxtime.format(format_string="%d %b %Y %H:%M")"},
        "min barometer": {"value": $alltime.barometer.min.format($localize=False,add_label=False), "at": "$alltime.barometer.mintime.format(format_string="%d %b %Y %H:%M")"},
        #end if
        #if $alltime.windSpeed.has_data
        "max wind speed": {"value": $alltime.windSpeed.max.format($localize=False,add_label=False), "at": "$alltime.windSpeed.maxtime.format(format_string="%d %b %Y %H:%M")"},
        #end if
        #if $alltime.windGust.has_data
        "max wind gust": {"value": $alltime.windGust.max.format($localize=False,add_label=False), "at": "$alltime.windGust.maxtime.format(format_string="%d %b %Y %H:%M")"},
        #end if
        #if $alltime.rainRate.has_data
        "max rain rate": {"value": $alltime.rainRate.max.format($localize=False,add_label=False), "at": "$alltime.rainRate.maxtime.format(format_string="%d %b %Y %H:%M")"},
        #end if
        #if $alltime.rain.has_data
        "rain total": {"value": $alltime.rain.sum.format($localize=False,add_label=False)},
        #end if
        #if $alltime.inTemp.has_data
        "max inside temperature": {"value": $alltime.inTemp.max.format($localize=False,add_label=False), "at": "$alltime.inTemp.maxtime.format(format_string="%d %b %Y %H:%M")"},
        "min inside temperature": {"value": $alltime.inTemp.min.format($localize=False,add_label=False), "at": "$alltime.inTemp.mintime.format(format_string="%d %b %Y %H:%M")"},
        #end if
        #if $alltime.inHumidity.has_data
        "max inside humidity": {"value": $alltime.inHumidity.max.format($localize=False,add_label=False), "at": "$alltime.inHumidity.maxtime.format(format_string="%d %b %Y %H:%M")"},
        "min inside humidity": {"value": $alltime.inHumidity.min.format($localize=False,add_label=False), "at": "$alltime.inHumidity.mintime.format(format_string="%d %b %Y %H:%M")"},
        #end if
        #if $alltime.UV.has_data
        "max UV": {"value": $alltime.UV.max.format($localize=False,add_label=False), "at": "$alltime.UV.maxtime.format(format_string="%d %b %Y %H:%M")"},
        #end if
        #if $alltime.radiation.has_data
        "max solar": {"value": $alltime.radiation.max.format($localize=False,add_label=False), "at": "$alltime.radiation.maxtime.format(format_string="%d %b %Y %H:%M")"},
        #end if
        "lightning last distance": {"value": "$alltime.lightning_distance.lastnonzero.format(add_label=False, $localize=False)"},
        "lightning last time": {"at": "$alltime.lightning_last_det_time.lastnonzero.raw"},
        "lightning strike count": {"value": $atsc},
        "lightning strike count 3hr": {"value": $span($hour_delta=3)lightning_strike_count.sum},
		
        ## Last value can't end with a comma
        "void_end": null
    },
    "almanac":
    {
        ## If extended almanac information is available, do extra calculations.
#if $almanac.hasExtras
  #set $sun_altitude = $almanac.sun.alt
  #set $moonDays = int(round(($current.dateTime.raw - $almanac.previous_new_moon.raw)/86400,0))
  #if $sun_altitude < 0
    #set $sun_None="<i>(Always down)</i>"
    #set $daylight_str = "00:00"
  #else
    #set $sun_None="<i>(Always up)</i>"
    #set $daylight_str = "24:00"
  #end if
  #set $sunrise_ts = $almanac.sun.rise.raw
  #set $sunset_ts = $almanac.sun.set.raw
  #if $sunrise_ts and $sunset_ts
    #set $now = $current.dateTime.raw
    #set $today_daylight = $sunset_ts -  $sunrise_ts
    #set $seconds = $today_daylight
    #set $hours = $seconds //3600
    #set $seconds %= 3600
    #set $minutes = $seconds//60
    #set $seconds %= 60
    #set $daylight_str = "%d hours, %d minutes, %d seconds" % ($hours, $minutes, $seconds)
    #set $yesterday = $now - 24*3600
    #set $yesterday_daylight = $almanac($almanac_time=$yesterday).sun.set.raw - $almanac($almanac_time=$yesterday).sun.rise.raw
    #set $difference = $today_daylight - $yesterday_daylight
    #if $difference
      #set $delta = abs($difference)
      #set $amt_str = "%s%d seconds" % (str(int($delta) // 60) + ' minutes, ' if ($delta // 60) > 0 else '', $delta % 60 if ($delta // 60) > 0 else $delta)
      #if $difference > 0
        #set $delta_str = "%s more than yesterday" % $amt_str
      #else
        #set $delta_str = "%s less than yesterday" % $amt_str
      #end if
      ##set $daylight_str = "%s<br/>%s" % ($daylight_str, $delta_str)
    #end if
  #end if
#end if
#if $almanac.hasExtras        
        "sun rise date": {"at": "$almanac.sun.rise.format("%b %d %Y %H:%M:%S")"},
        "sun set date": {"at": "$almanac.sun.set.format("%b %d %Y %H:%M:%S")"},
        "moon rise date": {"at": "$almanac.moon.rise.format("%d %b %H:%M")"},
        "moon set date": {"at": "$almanac.moon.set.format("%d %b %H:%M")"},
        "nautical twighlight begin": {"at": "$almanac(horizon=-12).sun(use_center=1).rise.format(format_string="%H:%M")"},
        "civil twighlight begin": {"at": "$almanac(horizon=-6).sun(use_center=1).rise.format(format_string="%H:%M")"},
        "astronomical twighlight begin": {"at": "$almanac(horizon=-18).sun(use_center=1).rise.format(format_string="%H:%M")"},
        "sun rise": {"at": "$almanac.sun.rise.format(format_string="%H:%M")"},
        "sun next rise": {"at": "$almanac.sun.next_rising.format(format_string="%H:%M")"},
        "sun meridian transit": {"at": "$almanac.sun.transit.format(format_string="%H:%M")"},
        "sun set": {"at": "$almanac.sun.set.format(format_string="%H:%M")"},
        "sun next set":{"at":"$almanac.sun.next_setting.format(format_string="%H:%M")"},
        "civil twighlight end": {"at": "$almanac(horizon=-6).sun(use_center=1).set.format(format_string="%H:%M")"},
        "nautical twighlight end": {"at": "$almanac(horizon=-12).sun(use_center=1).set.format(format_string="%H:%M")"},
        "astronomical twighlight end": {"at": "$almanac(horizon=-18).sun(use_center=1).set.format(format_string="%H:%M")"},
        "hour sun": {"value": $(almanac.sun.ha % 360.0)},
        "sun azimuth": {"value": $almanac.sun.az},          
        "sun altitude": {"value": $almanac.sun.alt},         
        "sun right ascension": {"value": $almanac.sun.ra},          
        "sun declination": {"value": $almanac.sun.dec},
        "sidereal time": {"at": $almanac.sidereal_time},         
        "winter solstice": {"at": "$almanac.next_winter_solstice.format(format_string="%H:%M")"},
        "solstice": {"at": "$almanac.next_solstice"},
        "summer solstice": {"at": "$almanac.next_summer_solstice"},
        "vernal equinox": {"at": "$almanac.next_vernal_equinox"},
        "equinox": {"at": "$almanac.next_equinox"},
        "moon rise": {"at": "$almanac.moon.rise.format(format_string="%H:%M")"},
        "moon meridian transit": {"at": "$almanac.moon.transit.format(format_string="%H:%M")"},
        "moon set": {"at": "$almanac.moon.set.format(format_string="%H:%M")"},
        "hour moon": {"value": $(almanac.moon.ha % 360.0)},
        "moon azimuth": {"value": $almanac.moon.az},          
        "moon altitude": {"value": $almanac.moon.alt},          
        "moon right ascension": {"value": $almanac.moon.ra},          
        "moon declination": {"value": $almanac.moon.dec},         
        "new moon": {"at": "$almanac.next_new_moon.format("%d %b %H:%M")"},
        "first quarter moon": {"at": "$almanac.next_first_quarter_moon.format("%d %b %H:%M")"},
        "full moon": {"at": "$almanac.next_full_moon.format("%d %b %H:%M")"},
        "last quarter moon": {"at": "$almanac.next_last_quarter_moon.format("%d %b %H:%M")"},
        "moon phase": {"value": "$almanac.moon_phase"},
        "moon phase number": {"value": $moonphase_no},
        "moon fullness": {"value": "$almanac.moon.moon_fullness"},
        "moon age": {"value": $moonDays},
        "mercury hlongitude": {"value": $almanac.mercury.hlong},
        "venus hlongitude": {"value": $almanac.venus.hlong},
        "earth hlongitude": {"value": $almanac.sun.hlong},
        "mars hlongitude": {"value": $almanac.mars.hlong},
        "jupiter hlongitude": {"value": $almanac.jupiter.hlong},
        "saturn hlongitude": {"value": $almanac.saturn.hlong},
        "uranus hlongitude": {"value": $almanac.uranus.hlong},
        "neptune hlongitude": {"value": $almanac.neptune.hlong},
        "pluto hlongitude": {"value": $almanac.pluto.hlong},        
        #end if
        ## Last value can't end with a comma
        "void_end": null
    }
}
