#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
#encoding UTF-8
##      
##
##		Calculate length of daylight
	  #set $daylength = time.strftime('%H:%M', time.gmtime(int($almanac.sun.set.raw -  $almanac.sun.rise.raw)))
##		Truncate station uptime decimals
	  #set $stationuptime = $alltime.outTemp.firsttime
 	
          #if $almanac.moon_phase.lower() == "New".lower()
            #set $moonphase_no = "0"
          #else if $almanac.moon_phase.lower() == "Waxing Crescent".lower()
            #set $moonphase_no = "1"
	  #else if $almanac.moon_phase.lower() == "First Quarter".lower()
            #set $moonphase_no = "2"
	  #else if $almanac.moon_phase.lower() == "Waxing Gibbous".lower()
            #set $moonphase_no = "3"
          #else if $almanac.moon_phase.lower() == "Full".lower()
            #set $moonphase_no = "4"
	  #else if $almanac.moon_phase.lower() == "Waning Gibbous".lower()
            #set $moonphase_no = "5"
	  #else if $almanac.moon_phase.lower() == "Last Quarter".lower()
            #set $moonphase_no = "6"
	  #else if $almanac.moon_phase.lower() == "Waning Crescent".lower()
            #set $moonphase_no = "7"
          #end if
          

    
      #import datetime
      #set $now = datetime.datetime.now()
      #set $nowHour = $now.hour
      #set $sunrise_hour = datetime.datetime.fromtimestamp($almanac.sunrise.raw).strftime('%H')
      #set $sunset_hour = datetime.datetime.fromtimestamp($almanac.sunset.raw).strftime('%H')
        ##if $sunrise_hour <= $nowHour < $sunset_hour ## This works but to keep it inline with JavaScript the below works too
        #if int($sunrise_hour) <= int($nowHour) and int($nowHour) < int($sunset_hour)
            #set $bodyTheme = "light"
            
        #else
            ## Night time, use dark mode
            #set $bodyTheme = "dark"
            
        #end if  

        #set $mlsc = "N/A"
        #if $varExists('month.lightning_strike_count') and $month.lightning_strike_count.sum is not None 
          #set $mlsc = $month.lightning_strike_count.sum 
        #end if
        #set $ylsc = "N/A"
        #if $varExists('year.lightning_strike_count') and $year.lightning_strike_count.sum is not None 
          #set $ylsc = $year.lightning_strike_count.sum 
        #end if
        #set $dysc = "N/A"
        #if $varExists('day.lightning_strike_count') and $day.lightning_strike_count.sum is not None 
          #set $dysc = $day.lightning_strike_count.sum 
        #end if
	#set $atsc = "N/A"
        #if $varExists('day.lightning_strike_count') and $day.lightning_strike_count.sum is not None
          #set $atsc = $alltime.lightning_strike_count.sum
        #end if
        #set $ydsc = "N/A"
        #if $varExists('day.lightning_strike_count') and $day.lightning_strike_count.sum is not None
          #set $ydsc = $yesterday.lightning_strike_count.sum
        #end if
        #set $ldlt = "N/A"
        #if $varExists('year.lightning_distance.lasttime') and $year.lightning_distance.lasttime is not None  
           #set $ldlt = $year.lightning_distance.lasttime
        #end if

  
          #import time
#set almost_end = $rainyear.end.raw - 1
#set almost_end_tt = $time.localtime($almost_end)
{
    "info":
    {
        "location": "$station.location",
        "latitude": $station.stn_info.latitude_f,
        "longitude": $station.stn_info.longitude_f,
        "altitude meters": $station.altitude.meter.raw,
        "metgramlink": "$station.station_url",
        "daylight": "$daylength",
        "trend period": "$trend.time_delta",
        "hardware": "$station.hardware",
        "start data": "$alltime.outTemp.firsttime.format("%d %b %Y %H:%M")"
    },
    "generation":
    {
        "time": "$current.dateTime.format("%a, %d %b %Y %H:%M:%S %Z")",
        "generator": "$station.version"
        
    },
    "lightning":
    {
        
        "lightning last distance": {"value": "$alltime.lightning_distance.lastnonzero.format(add_label=False, $localize=False)"},
        "lightning last time": {"at": "$alltime.lightning_last_det_time.lastnonzero.raw"},
        "lightning current": {"value": "$current.lightning_strike_count"},
        "lightning energy": {"value": "$current.lightning_energy"},
        "lightning noise": {"value": "$current.lightning_noise_count"},
        "lightning disturbance": {"value": "$current.lightning_disturbance_count"}, 
        "lightning last hour": {"value": "$hour.lightning_strike_count.sum"},
        "lightning day": {"value": "$day.lightning_strike_count.sum"},
        "lightning month": {"value": "$month.lightning_strike_count.sum"},
        "lightning year": {"value": "$year.lightning_strike_count.sum"},
        "lightning alltime": {"value": "$alltime.lightning_strike_count.sum"},
        ## Last value can't end with a comma
        "void_end": null
    },
    "airquality":
    {
        #if $current.pm2_5.has_data
        "pm25 current": {"value": $current.pm2_5.format(add_label=False, format_string="%.1f")},
        "pm25 rolling 24hr": {"value": $current.pm2_5.format(add_label=False, format_string="%.1f")},
        #end if
        #if $current.pm10_0.has_data
        "pm10 current": {"value": $current.pm10_0.format(add_label=False, format_string="%.1f")},
        "pm10 rolling 24hr": {"value": $current.pm10_0.format(add_label=False, format_string="%.1f")},
        #end if
        ## Last value can't end with a comma
        "void_end": null
    },
    "cloudcover":
    {
        #if $current.cloud_cover.has_data
        "cloud cover": {"value": $current.cloud_cover.format($localize=False,add_label=False)},
        #end if
        ## Last value can't end with a comma
        "void_end": null

    },

    "solar":
    {
         #if $current.radiation.has_data
        "max solar current": {"value": $current.radiation.format($localize=False,add_label=False)},
        #end if
         #if $day.radiation.has_data
        "max solar day": {"value": $day.radiation.max.format($localize=False,add_label=False), "at": "$day.radiation.maxtime.format(format_string="%H:%M")"},
        #end if
         #if $yesterday.radiation.has_data
        "max solar 24h": {"value": $span($hour_delta=24).radiation.max.format($localize=False,add_label=False), "at": "$span($hour_delta=24).radiation.maxtime.format(format_string="%H:%M")"},
        #end if
         #if $month.radiation.has_data
        "max solar month": {"value": $month.radiation.max.format($localize=False,add_label=False), "at": "$month.radiation.maxtime.format(format_string="%d %H:%M")"},
        #end if
        #if $year.radiation.has_data
        "max solar year": {"value": $year.radiation.max.format($localize=False,add_label=False), "at": "$year.radiation.maxtime.format(format_string="%d %b %H:%M")"},
        #end if
        #if $alltime.radiation.has_data
        "max solar alltime": {"value": $alltime.radiation.max.format($localize=False,add_label=False), "at": "$alltime.radiation.maxtime.format(format_string="%d %b %Y %H:%M")"},
        #end if
  

        ## Last value can't end with a comma
        "void_end": null

    },

    "almanac":
    {
        ## If extended almanac information is available, do extra calculations.
#if $almanac.hasExtras
  #set $sun_altitude = $almanac.sun.alt
  #set $moonDays = ($current.dateTime.raw - $almanac.previous_new_moon.raw)/86400
  #if $sun_altitude < 0
    #set $sun_None="<i>(Always down)</i>"
    #set $daylight_str = "00:00"
  #else
    #set $sun_None="<i>(Always up)</i>"
    #set $daylight_str = "24:00"
  #end if
  #set $sunrise_ts = $almanac.sun.rise.raw
  #set $sunset_ts = $almanac.sun.set.raw
  #if $sunrise_ts and $sunset_ts
    #set $now = $current.dateTime.raw
    #set $today_daylight = $sunset_ts -  $sunrise_ts
    #set $seconds = $today_daylight
    #set $hours = $seconds //3600
    #set $seconds %= 3600
    #set $minutes = $seconds//60
    #set $seconds %= 60
    #set $daylight_str = "%d hours, %d minutes, %d seconds" % ($hours, $minutes, $seconds)
    #set $yesterday = $now - 24*3600
    #set $yesterday_daylight = $almanac($almanac_time=$yesterday).sun.set.raw - $almanac($almanac_time=$yesterday).sun.rise.raw
    #set $difference = $today_daylight - $yesterday_daylight
    #if $difference
      #set $delta = abs($difference)
      #set $amt_str = "%s%d seconds" % (str(int($delta) // 60) + ' minutes, ' if ($delta // 60) > 0 else '', $delta % 60 if ($delta // 60) > 0 else $delta)
      #if $difference > 0
        #set $delta_str = "%s more than yesterday" % $amt_str
      #else
        #set $delta_str = "%s less than yesterday" % $amt_str
      #end if
      ##set $daylight_str = "%s<br/>%s" % ($daylight_str, $delta_str)
    #end if
  #end if
#end if
#if $almanac.hasExtras        
        "sun rise date": {"at": "$almanac.sun.rise.format("%b %d %Y %H:%M:%S")"},
        "sun set date": {"at": "$almanac.sun.set.format("%b %d %Y %H:%M:%S")"},
        "moon rise date": {"at": "$almanac.moon.rise.format("%d %b %H:%M")"},
        "moon set date": {"at": "$almanac.moon.set.format("%d %b %H:%M")"},
        "nautical twighlight begin": {"at": "$almanac(horizon=-12).sun(use_center=1).rise.format(format_string="%H:%M")"},
        "civil twighlight begin": {"at": "$almanac(horizon=-6).sun(use_center=1).rise.format(format_string="%H:%M")"},
        "astronomical twighlight begin": {"at": "$almanac(horizon=-18).sun(use_center=1).rise.format(format_string="%H:%M")"},
        "sun rise": {"at": "$almanac.sun.rise.format(format_string="%H:%M")"},
        "sun next rise": {"at": "$almanac.sun.next_rising.format(format_string="%H:%M")"},
        "sun meridian transit": {"at": "$almanac.sun.transit.format(format_string="%H:%M")"},
        "sun set": {"at": "$almanac.sun.set.format(format_string="%H:%M")"},
        "sun next set":{"at":"$almanac.sun.next_setting.format(format_string="%H:%M")"},
        "civil twighlight end": {"at": "$almanac(horizon=-6).sun(use_center=1).set.format(format_string="%H:%M")"},
        "nautical twighlight end": {"at": "$almanac(horizon=-12).sun(use_center=1).set.format(format_string="%H:%M")"},
        "astronomical twighlight end": {"at": "$almanac(horizon=-18).sun(use_center=1).set.format(format_string="%H:%M")"},
        "hour sun": {"value": $(almanac.sun.ha % 360.0)},
        "sun azimuth": {"value": $almanac.sun.az},          
        "sun altitude": {"value": $almanac.sun.alt},         
        "sun right ascension": {"value": $almanac.sun.ra},          
        "sun declination": {"value": $almanac.sun.dec},
        "sidereal time": {"at": $almanac.sidereal_time},         
        "winter solstice": {"at": "$almanac.next_winter_solstice.format(format_string="%H:%M")"},
        "solstice": {"at": "$almanac.next_solstice"},
        "summer solstice": {"at": "$almanac.next_summer_solstice"},
        "vernal equinox": {"at": "$almanac.next_vernal_equinox"},
        "equinox": {"at": "$almanac.next_equinox"},
        "moon rise": {"at": "$almanac.moon.rise.format(format_string="%H:%M")"},
        "moon meridian transit": {"at": "$almanac.moon.transit.format(format_string="%H:%M")"},
        "moon set": {"at": "$almanac.moon.set.format(format_string="%H:%M")"},
        "hour moon": {"value": $(almanac.moon.ha % 360.0)},
        "moon azimuth": {"value": $almanac.moon.az},          
        "moon altitude": {"value": $almanac.moon.alt},          
        "moon right ascension": {"value": $almanac.moon.ra},          
        "moon declination": {"value": $almanac.moon.dec},         
        "new moon": {"at": "$almanac.next_new_moon.format("%d %b %H:%M")"},
        "first quarter moon": {"at": "$almanac.next_first_quarter_moon.format("%d %b %H:%M")"},
        "full moon": {"at": "$almanac.next_full_moon.format("%d %b %H:%M")"},
        "last quarter moon": {"at": "$almanac.next_last_quarter_moon.format("%d %b %H:%M")"},
        "moon phase": {"value": "$almanac.moon_phase"},
        "moon phase number": {"value": $moonphase_no},
        "moon fullness": {"value": "$almanac.moon.moon_fullness"},
        "moon age": {"value": $moonDays},
        "mercury hlongitude": {"value": $almanac.mercury.hlongitude.raw},
        "venus hlongitude": {"value": $almanac.venus.hlongitude.raw},
        "earth hlongitude": {"value": $almanac.sun.hlongitude.raw},
        "mars hlongitude": {"value": $almanac.mars.hlongitude.raw},
        "jupiter hlongitude": {"value": $almanac.jupiter.hlongitude.raw},
        "saturn hlongitude": {"value": $almanac.saturn.hlongitude.raw},
        "uranus hlongitude": {"value": $almanac.uranus.hlongitude.raw},
        "neptune hlongitude": {"value": $almanac.neptune.hlongitude.raw},
        "pluto hlongitude": {"value": $almanac.pluto.hlongitude.raw},        
        #end if
        ## Last value can't end with a comma
        "void_end": null
    },
    
        "rain":
    {
        #if $current.rain.has_data
        "current rain": {"value": $current.rain.raw},
        "hour rain": {"value": $span($hour_delta=1).rain.sum.raw},
        "10min rain sum": {"value": $span($time_delta=600).rain.sum.raw},
        "24hr rain": {"value": $span($hour_delta=24).rain.sum.raw},
        "24hr rainRate Max": {"value": $span($hour_delta=24).rainRate.max.raw},
        "24hr rainRate Max Time": {"value": $span($hour_delta=24).rainRate.maxtime.raw},
        "day rain": {"value": $day.rain.sum.raw},
        "day rainRate Max": {"value": $day.rainRate.max.raw},
        "day rainRate Max Time": {"value": $day.rainRate.maxtime.raw},
        "month rain": {"value": $month.rain.sum.raw},
        "month rainRate Max": {"value": $month.rainRate.max.raw},
        "month rainRate Max Time": {"value": $month.rainRate.maxtime.raw},
        "year rain": {"value": $year.rain.sum.raw},
        "year rainRate Max": {"value": $year.rainRate.max.raw},
        "year rainRate Max Time": {"value": $year.rainRate.maxtime.raw},
        "alltime rain": {"value": $alltime.rain.sum.raw},
        "alltime rainRate Max": {"value": $alltime.rainRate.max.raw},
        "alltime rainRate Max Time": {"value": $alltime.rainRate.maxtime.raw},
        "storm rain": {"value": $current.hail.raw},
        #end if 
        ## Last value can't end with a comma
        "void_end": null

    },
    
            "barometer":
    {
        #if $current.barometer.has_data
        "barometer units": {"value": "$unit.label.barometer"},
        "current barometer": {"value": $current.barometer.format(add_label=False)},
        "trend barometer code": {"value": $trend.barometer.format(add_label=False)},
        "yesterday barometer max": {"value": $day($days_ago=1).barometer.max.format(add_label=False)},
        "yesterday barometer maxtime": {"at": "$day($days_ago=1).barometer.maxtime"},
        "yesterday barometer min": {"value": $day($days_ago=1).barometer.min.format(add_label=False)},
        "yesterday barometer mintime": {"at": "$day($days_ago=1).barometer.mintime"},
        "day barometer max": {"value": $day.barometer.max.format(add_label=False)},
        "day barometer maxtime": {"at": "$day.barometer.maxtime"},
        "day barometer min": {"value": $day.barometer.min.format(add_label=False)},
        "day barometer mintime": {"at": "$day.barometer.mintime"},
        "month barometer max": {"value": $month.barometer.max.format(add_label=False)},
        "month barometer maxtime": {"at": "$month.barometer.maxtime"},
        "month barometer min": {"value": $month.barometer.min.format(add_label=False)},
        "month barometer mintime": {"at": "$month.barometer.mintime"},
        "year barometer max": {"value": $year.barometer.max.format(add_label=False)},
        "year barometer maxtime": {"at": "$year.barometer.maxtime"},
        "year barometer min": {"value": $year.barometer.min.format(add_label=False)},
        "year barometer mintime": {"at": "$year.barometer.mintime"},
        "alltime barometer max": {"value": $alltime.barometer.max.format(add_label=False)},
        "alltime barometer maxtime": {"at": "$alltime.barometer.maxtime"},
        "alltime barometer min": {"value": $alltime.barometer.min.format(add_label=False)},
        "alltime barometer mintime": {"at": "$alltime.barometer.mintime"},
        #end if 
        ## Last value can't end with a comma
        "void_end": null

    },    


            "wind":
    {
        #if $current.windSpeed.has_data
        "wind units": {"value": "$unit.label.windSpeed"},
        "windSpeed": {"value": $current.windSpeed.format(add_label=False)},
        "wind bft": {"value": $current.windSpeed.beaufort.format(add_label=False)},
        "windGust": {"value": $current.windGust.format(add_label=False)},
        "wind direction": {"value": "$current.windDir.format(add_label=False)"},
        "wind direction ordinal": {"value": "$current.windDir.ordinal_compass"},
        "wind direction trend": {"value": "$trend.windDir.formatted"},
        "wind direction trend": {"value": "$trend.windDir.formatted"},
        "wind direction trend ordinal": {"value": "$trend.windDir.ordinal_compass"},
        "yesterday windSpeed avg": {"value": $day($days_ago=1).windSpeed.avg.format(add_label=False)},
        "yesterday windSpeed max": {"value": $day($days_ago=1).windSpeed.max.format(add_label=False)},
        "yesterday windSpeed maxtime": {"at": "$day($days_ago=1).windSpeed.maxtime"},
        "yesterday windGust avg": {"value": $day($days_ago=1).windGust.avg.format(add_label=False)},
        "yesterday windGust max": {"value": $day($days_ago=1).windGust.max.format(add_label=False)},
        "yesterday windGust maxtime": {"at": "$day($days_ago=1).windGust.maxtime"},
        "yesterday winrun": {"value": $day($days_ago=1).windrun.sum.format(add_label=False)},
​       "10min windSpeed max": {"value": $span($time_delta=600).windSpeed.max.format(add_label=False)},
        "10min windSpeed maxtime": {"at": "$span($time_delta=600).windSpeed.maxtime"},
        "10min windSpeed avg": {"value": $span($time_delta=600).windSpeed.avg.format(add_label=False)},
        "10min windGust max": {"value": $span($time_delta=600).windGust.max.format(add_label=False)},
        "10min windGust maxtime": {"at": "$span($time_delta=600).windGust.maxtime"},
        "10min windDir avg": {"value": "$span($time_delta=600).windDir.avg.format(add_label=False)"},
        "day windSpeed avg": {"value": $day.windSpeed.avg.format(add_label=False)},
        "day windSpeed max": {"value": $day.windSpeed.max.format(add_label=False)},
        "day windSpeed maxtime": {"at": "$day.windSpeed.maxtime"},
        "day windGust avg": {"value": $day.windGust.avg.format(add_label=False)},
        "day windGust max": {"value": $day.windGust.max.format(add_label=False)},
        "day windGust maxtime": {"at": "$day.windGust.maxtime"},
        "day winrun": {"value": $day.windrun.sum.format(add_label=False)},
        "month windSpeed avg": {"value": $month.windSpeed.avg.format(add_label=False)},
        "month windSpeed max": {"value": $month.windSpeed.max.format(add_label=False)},
        "month windSpeed maxtime": {"at": "$month.windSpeed.maxtime"},
        "month windGust avg": {"value": $month.windGust.avg.format(add_label=False)},
        "month windGust max": {"value": $month.windGust.max.format(add_label=False)},
        "month windGust maxtime": {"at": "$month.windGust.maxtime"},
        "month winrun": {"value": $month.windrun.sum.format(add_label=False)},
        "year windSpeed avg": {"value": $year.windSpeed.avg.format(add_label=False)},
        "year windSpeed max": {"value": $year.windSpeed.max.format(add_label=False)},
        "year windSpeed maxtime": {"at": "$year.windSpeed.maxtime"},
        "year windGust avg": {"value": $year.windGust.avg.format(add_label=False)},
        "year windGust max": {"value": $year.windGust.max.format(add_label=False)},
        "year windGust maxtime": {"at": "$year.windGust.maxtime"},
        "year winrun": {"value": $year.windrun.sum.format(add_label=False)},
        "alltime windSpeed avg": {"value": $alltime.windSpeed.avg.format(add_label=False)},
        "alltime windSpeed max": {"value": $alltime.windSpeed.max.format(add_label=False)},
        "alltime windSpeed maxtime": {"at": "$alltime.windSpeed.maxtime"},
        "alltime windGust avg": {"value": $alltime.windGust.avg.format(add_label=False)},
        "alltime windGust max": {"value": $alltime.windGust.max.format(add_label=False)},
        "alltime windGust maxtime": {"at": "$alltime.windGust.maxtime"},
        "alltime winrun": {"value": $alltime.windrun.sum.format(add_label=False)},
        #end if 
        ## Last value can't end with a comma
        "void_end": null

    },
    
            "temp":
    {
        #if $current.outTemp.has_data
        "temp units": {"value": "$unit.label.outTemp"},
        "60min outTemp avg": {"value": $span($time_delta=3600).outTemp.avg.format(add_label=False)},
        "trend outTemp": {"value": $trend.outTemp.raw},
        "trend inTemp": {"value": $trend.inTemp.raw},        
        "day outTemp": {"value": $trend.outTemp.raw},
        "24hr outTemp max": {"value": $day($days_ago=1).outTemp.max.format(add_label=False)},
        "24hr outTemp maxtime": {"value": $day($days_ago=1).outTemp.maxtime.raw},
        "24hr outTemp min": {"value": $day($days_ago=1).outTemp.min.format(add_label=False)},
        "24hr outTemp mintime": {"value": $day($days_ago=1).outTemp.mintime.raw},
        "day outTemp avg": {"value": $day.outTemp.avg.format(add_label=False)},
        "day outTemp max": {"value": $day.outTemp.max.format(add_label=False)},
        "day outTemp maxtime": {"value": $day.outTemp.maxtime.raw},       
        "day outTemp min": {"value": $day.outTemp.min.format(add_label=False)},
        "day outTemp mintime": {"value": $day.outTemp.mintime.raw},       
        "month outTemp max": {"value": $month.outTemp.max.format(add_label=False)},
        "month outTemp maxtime": {"value": $month.outTemp.maxtime.raw},       
        "month outTemp min": {"value": $month.outTemp.min.format(add_label=False)},
        "month outTemp mintime": {"value": $month.outTemp.mintime.raw},       
        "year outTemp max": {"value": $year.outTemp.max.format(add_label=False)},
        "year outTemp maxtime": {"value": $year.outTemp.maxtime.raw},       
        "year outTemp min": {"value": $year.outTemp.min.format(add_label=False)},
        "year outTemp mintime": {"value": $year.outTemp.mintime.raw},       
        "alltime outTemp max": {"value": $alltime.outTemp.max.format(add_label=False)},
        "alltime outTemp maxtime": {"value": $alltime.outTemp.maxtime.raw},       
        "alltime outTemp min": {"value": $alltime.outTemp.min.format(add_label=False)},
        "alltime outTemp mintime": {"value": $alltime.outTemp.mintime.raw},       
        "windchill": {"value": $current.windchill.raw},
        #end if 
        ## Last value can't end with a comma
        "void_end": null

    },
    
            "dewpoint":
    {
    #if $current.dewpoint.has_data
    "current dewpoint": {"value": $current.dewpoint.format(add_label=False)},
    "trend dewpoint": {"value": $trend.dewpoint.format(add_label=False)},
    "day dewpoint max": {"value": $day.dewpoint.max.format(add_label=False)},
    "day dewpoint maxtime": {"value": $day.dewpoint.maxtime.raw},
    "day dewpoint min": {"value": $day.dewpoint.min.format(add_label=False)},
    "day dewpoint mintime": {"value": $day.dewpoint.mintime.raw},
    "yesterday dewpoint max": {"value": $day($days_ago=1).dewpoint.max.format(add_label=False)},
    "yesterday dewpoint maxtime": {"value": $day($days_ago=1).dewpoint.maxtime.raw},
    "yesterday dewpoint min": {"value": $day($days_ago=1).dewpoint.min.format(add_label=False)},
    "yesterday dewpoint mintime": {"value": $day($days_ago=1).dewpoint.mintime.raw},
    "month dewpoint max": {"value": $month.dewpoint.max.format(add_label=False)},
    "month dewpoint maxtime": {"value": $month.dewpoint.maxtime.raw},
    "month dewpoint min": {"value": $month.dewpoint.min.format(add_label=False)},
    "month dewpoint mintime": {"value": $month.dewpoint.mintime.raw},
    "year dewpoint max": {"value": $year.dewpoint.max.format(add_label=False)},
    "year dewpoint maxtime": {"value": $year.dewpoint.maxtime.raw},
    "year dewpoint min": {"value": $year.dewpoint.min.format(add_label=False)},
    "year dewpoint mintime": {"value": $year.dewpoint.mintime.raw},    
    "alltime dewpoint max": {"value": $alltime.dewpoint.max.format(add_label=False)},
    "alltime dewpoint maxtime": {"value": $alltime.dewpoint.maxtime.raw},
    "alltime dewpoint min": {"value": $alltime.dewpoint.min.format(add_label=False)},
    "alltime dewpoint mintime": {"value": $alltime.dewpoint.mintime.raw},
     #end if 
     ## Last value can't end with a comma
     "void_end": null

    },
    
            "humidity":
    {
    #if $current.outHumidity.has_data
    "current outHumidity": {"value": $current.outHumidity.format(add_label=False)},
    "trend outHumidity": {"value": $trend.outHumidity.format(add_label=False)},
    "day outHumidity max": {"value": $day.outHumidity.max.format(add_label=False)},
    "day outHumidity maxtime": {"value": $day.outHumidity.maxtime.raw},
    "day outHumidity min": {"value": $day.outHumidity.min.format(add_label=False)},
    "day outHumidity mintime": {"value": $day.outHumidity.mintime.raw},
    "yesterday outHumidity max": {"value": $day($days_ago=1).outHumidity.max.format(add_label=False)},
    "yesterday outHumidity maxtime": {"value": $day($days_ago=1).outHumidity.maxtime.raw},
    "yesterday outHumidity min": {"value": $day($days_ago=1).outHumidity.min.format(add_label=False)},
    "yesterday outHumidity mintime": {"value": $day($days_ago=1).outHumidity.mintime.raw},
    "month outHumidity max": {"value": $month.outHumidity.max.format(add_label=False)},
    "month outHumidity maxtime": {"value": $month.outHumidity.maxtime.raw},
    "month outHumidity min": {"value": $month.outHumidity.min.format(add_label=False)},
    "month outHumidity mintime": {"value": $month.outHumidity.mintime.raw},
    "year outHumidity max": {"value": $year.outHumidity.max.format(add_label=False)},
    "year outHumidity maxtime": {"value": $year.outHumidity.maxtime.raw},
    "year outHumidity min": {"value": $year.outHumidity.min.format(add_label=False)},
    "year outHumidity mintime": {"value": $year.outHumidity.mintime.raw},    
    "alltime outHumidity max": {"value": $alltime.outHumidity.max.format(add_label=False)},
    "alltime outHumidity maxtime": {"value": $alltime.outHumidity.maxtime.raw},
    "alltime outHumidity min": {"value": $alltime.outHumidity.min.format(add_label=False)},
    "alltime outHumidity mintime": {"value": $alltime.outHumidity.mintime.raw},
    "current inHumidity": {"value": $current.inHumidity.format(add_label=False)},
    "trend inHumidity": {"value": $trend.inHumidity.format(add_label=False)},
    "day inHumidity max": {"value": $day.inHumidity.max.format(add_label=False)},
    "day inHumidity maxtime": {"value": $day.inHumidity.maxtime.raw},
    "day inHumidity min": {"value": $day.inHumidity.min.format(add_label=False)},
    "day inHumidity mintime": {"value": $day.inHumidity.mintime.raw},
    "yesterday inHumidity max": {"value": $day($days_ago=1).inHumidity.max.format(add_label=False)},
    "yesterday inHumidity maxtime": {"value": $day($days_ago=1).inHumidity.maxtime.raw},
    "yesterday inHumidity min": {"value": $day($days_ago=1).inHumidity.min.format(add_label=False)},
    "yesterday inHumidity mintime": {"value": $day($days_ago=1).inHumidity.mintime.raw},
    "month inHumidity max": {"value": $month.inHumidity.max.format(add_label=False)},
    "month inHumidity maxtime": {"value": $month.inHumidity.maxtime.raw},
    "month inHumidity min": {"value": $month.inHumidity.min.format(add_label=False)},
    "month inHumidity mintime": {"value": $month.inHumidity.mintime.raw},
    "year inHumidity max": {"value": $year.inHumidity.max.format(add_label=False)},
    "year inHumidity maxtime": {"value": $year.inHumidity.maxtime.raw},
    "year inHumidity min": {"value": $year.inHumidity.min.format(add_label=False)},
    "year inHumidity mintime": {"value": $year.inHumidity.mintime.raw},    
    "alltime inHumidity max": {"value": $alltime.inHumidity.max.format(add_label=False)},
    "alltime inHumidity maxtime": {"value": $alltime.inHumidity.maxtime.raw},
    "alltime inHumidity min": {"value": $alltime.inHumidity.min.format(add_label=False)},
    "alltime inHumidity mintime": {"value": $alltime.inHumidity.mintime.raw},    
     #end if 
     ## Last value can't end with a comma
     "void_end": null

    },
    
            "uv": 
    {
    #if $current.UV.has_data
    "day uv max": {"value": $day.UV.max.format(add_label=False)},
    "day uv maxtime": {"value": $day.UV.maxtime.raw},
    "yesterday uv max": {"value": $day($days_ago=1).UV.max.format(add_label=False)},
    "yesterday uv maxtime": {"value": $day($days_ago=1).UV.maxtime.raw},
    "month uv max": {"value": $month.UV.max.format(add_label=False)},
    "month uv maxtime": {"value": $month.UV.maxtime.raw},
    "year uv max": {"value": $year.UV.max.format(add_label=False)},
    "year uv maxtime": {"value": $year.UV.maxtime.raw},
    "alltime uv max": {"value": $alltime.UV.max.format(add_label=False)},
    "alltime uv maxtime": {"value": $alltime.UV.maxtime.raw},
     #end if 
     ## Last value can't end with a comma
     "void_end": null

    }        


}