#errorCatcher Echo
#encoding UTF-8
<?php

##This file is for adding your own customisations to the dvmCombinedData.php file
##Your customisations must be added in this section between the php opening and closing tags
##They will then added to dvmCombinedData.php as an include 

?>