#errorCatcher Echo
#encoding UTF-8
<?php

##This file is for adding your own customisations to the dvmCombinedData.php file
##Your customisations must be added in this section between the php opening and closing tags
#if $current.batteryPower.has_data
$battery["power"] = round($current.batteryPower.raw,0,PHP_ROUND_HALF_UP);
#else
$battery["power"] = 0;
#end if
#if $current.batterySOC.has_data
$battery["soc"] = round($current.batterySOC.raw,0,PHP_ROUND_HALF_UP);
#else
$battery["soc"] = 0;
#end if
#if $current.gridPower.has_data
$grid["power"] = round($current.gridPower.raw,0,PHP_ROUND_HALF_UP);
#else
$grid["power"] = 0;
#end if
#if $current.loadPower.has_data
$load["power"] = round($current.loadPower.raw,0,PHP_ROUND_HALF_UP);
#else 
$load["power"] = 0;
#end if
#if $current.loadTotalPower.has_data
$load["total_power"] = round($current.loadTotalPower.raw,0,PHP_ROUND_HALF_UP);
#else
$load["total_power"] = 0;
#end if
#if $current.loadUPSTotalPower.has_data
$load["total_ups_power"] = round($current.loadUPSTotalPower.raw,0,PHP_ROUND_HALF_UP);
#else
$load["total_ups_power"] = 0;
#end if
#if $current.solarPower.has_data
$solar["power"] = round($current.solarPower.raw,0,PHP_ROUND_HALF_UP);
#else
$solar["power"] = 0;
#end if
#if $current.dailyBatteryCharge.has_data
$battery["daily_charge"] = round($current.dailyBatteryCharge.raw,1);
#else
$battery["daily_charge"] = 0;
#end if
#if $current.dailyBatteryDischarge.has_data
$battery["daily_discharge"] = round($current.dailyBatteryDischarge.raw,1);
#else
$battery["daily_discharge"] = 0;
#end if
#if $current.dailyGridExport.has_data
$grid["daily_export"] = round($current.dailyGridExport.raw,1);
#else
$grid["daily_export"] = 0;
#end if
#if $current.dailyGridImport.has_data
$grid["daily_import"] = round($current.dailyGridImport.raw,1);
#else
$grid["daily_import"] = 0;
#end if
#if $current.dailyLoadEnergy.has_data
$load["daily_energy"] = round($current.dailyLoadEnergy.raw,1);
#else
$load["daily_energy"] = 0;
#end if
#if $current.dailySolarEnergy.has_data
$solar["daily_energy"] = round($current.dailySolarEnergy.raw,1);
#else
$solar["daily_energy"] = 0;
#end if

/*Moon data
$json_string = file_get_contents('jsondata/moonphase.txt');
$moon_json = json_decode($json_string,true);
$alm["moon_time"] = $moon_json[3]["timestamp"];
$alm["moonphase"] = $moon_json[3][3]["phase"];
$alm["luminance"] = $moon_json[3][3]["illumination"];
$alm["moon_age"] = $moon_json[3][3]["moon_age"];
$alm["moon_image"] = $moon_json[3][3]["moon_image"];
$alm["moon_angle"] = $moon_json[3][3]["moon_angle"];*/
?>