#errorCatcher Echo
##
## Specifying an encoding of UTF-8 is usually safe, but if your text is 
## actually in Latin-1, then you should replace the string "UTF-8" with "latin-1"
## If you do this, you should also change the 'Content-Type' metadata below.
#encoding UTF-8
##      
##
##Calculate length of daylight
#set $daylength = time.strftime('%H:%M', time.gmtime(int($almanac.sun.set.raw -  $almanac.sun.rise.raw)))
##Truncate station uptime decimals
#set $stationuptime = $alltime.outTemp.firsttime   
#if $almanac.moon_phase.lower() == "New".lower()
#set $moonphase_no = "0"
#else if $almanac.moon_phase.lower() == "Waxing Crescent".lower()
#set $moonphase_no = "1"
#else if $almanac.moon_phase.lower() == "First Quarter".lower()
#set $moonphase_no = "2"
#else if $almanac.moon_phase.lower() == "Waxing Gibbous".lower()
#set $moonphase_no = "3"
#else if $almanac.moon_phase.lower() == "Full".lower()
#set $moonphase_no = "4"
#else if $almanac.moon_phase.lower() == "Waning Gibbous".lower()
#set $moonphase_no = "5"
#else if $almanac.moon_phase.lower() == "Last Quarter".lower()
#set $moonphase_no = "6"
#else if $almanac.moon_phase.lower() == "Waning Crescent".lower()
#set $moonphase_no = "7"
#end if         
#import datetime
#set $now = datetime.datetime.now()
#set $nowHour = $now.hour
#set $sunrise_hour = datetime.datetime.fromtimestamp($almanac.sunrise.raw).strftime('%H')
#set $sunset_hour = datetime.datetime.fromtimestamp($almanac.sunset.raw).strftime('%H')
##if $sunrise_hour <= $nowHour < $sunset_hour ## This works but to keep it inline with JavaScript the below works too
##if int($sunrise_hour) <= int($nowHour) and int($nowHour) < int($sunset_hour)
##set $bodyTheme = "light"
##else
## Night time, use dark mode
##set $bodyTheme = "dark"
##end if  
#set $mlsc = "N/A"
#if $varExists('month.lightning_strike_count') and $month.lightning_strike_count.sum is not None 
#set $mlsc = $month.lightning_strike_count.sum 
#end if
#set $ylsc = "N/A"
#if $varExists('year.lightning_strike_count') and $year.lightning_strike_count.sum is not None 
#set $ylsc = $year.lightning_strike_count.sum 
#end if
#set $dysc = "N/A"
#if $varExists('day.lightning_strike_count') and $day.lightning_strike_count.sum is not None 
#set $dysc = $day.lightning_strike_count.sum 
#end if
#set $atsc = "N/A"
#if $varExists('day.lightning_strike_count') and $day.lightning_strike_count.sum is not None
#set $atsc = $alltime.lightning_strike_count.sum
#end if
#set $ydsc = "N/A"
#if $varExists('day.lightning_strike_count') and $day.lightning_strike_count.sum is not None
#set $ydsc = $yesterday.lightning_strike_count.sum
#end if
#set $ldlt = "N/A"
#if $varExists('year.lightning_distance.lasttime') and $year.lightning_distance.lasttime is not None  
#set $ldlt = $year.lightning_distance.lasttime
#end if
#import time
#set almost_end = $rainyear.end.raw - 1
#set almost_end_tt = $time.localtime($almost_end)
<?php
include ('fixedSettings.php');
include ('dvmShared.php');
include('common.php');
/* for future developments
$jsonR = 'jsondata/gauge-data.txt';
$real = file_get_contents($jsonR);
$realData = json_decode($real, true);
*/
error_reporting(0);
$weewxrt = array_map(function ($v)
{
if ($v == 'NULL')
{
    return null;
}
    return $v;
},
explode(" ", file_get_contents($livedata)));

    
//general
$region_city = explode("/", $TZ);
$region = $region_city[0];
$city = $region_city[1];
$ukWeatherHealth = "https://app.powerbi.com/view?r=eyJrIjoiZGI5MTA1NTEtZmE4NC00NTk3LTg5NjQtZjMyNDQ5YTgyMjI2IiwidCI6ImVlNGUxNDk5LTRhMzUtNGIyZS1hZDQ3LTVmM2NmOWRlODY2NiIsImMiOjh9";
$sundial_time = date("M d Y H:i:s",filemtime('serverdata/dvmRealtime.txt'));        
$stationlocation = "$station.location";
$hardware = "$station.hardware";
$lat = $station.stn_info.latitude_f;
$lon = $station.stn_info.longitude_f;
$absLat = abs($lat);
$absLon = abs($lon);
if ($lat >= "0"){$NS = "North";}
else {$NS = "South";}
if ($lon >= "0") {$EW = "East";}
else {$EW = "West";}
$elevation = $station.altitude.meter.raw;
$url = "$station.station_url";
$divum["date"] = date($dateFormat, $divum["datetime"]);
$divum["time"] = date($timeFormat, $divum["datetime"]);
$divum["swversion"] = "$station.version";
$divum["build"] = $weewxrt[38];
$divum["since"] = "$alltime.outTemp.firsttime.raw";
$stationUptime = "$station.uptime.long_form";
$TS = time();
//$theme = "$bodyTheme";
if($theme == 'dark') {$convertStyle = "color:";}
else {$convertStyle = "background:";}
$phpVersion = phpversion();

//air density
#if $current.AirDensity.has_data
$air_density["now"] = $current.AirDensity.format(add_label=False);
if(is_numeric($air_density["now"]) != 1){$air_density["now"] = 0;}
$air_density["day_max"] = number_format($day.AirDensity.max.format(add_label=False),4);
$air_density["day_min"] = number_format($day.AirDensity.min.format(add_label=False),4);
$air_density["day_avg"] = number_format($day.AirDensity.avg.format(add_label=False),4);
$air_density["day_maxtime"] = date('H:i',$day.AirDensity.maxtime.raw);
$air_density["day_mintime"] = date('H:i',$day.AirDensity.mintime.raw);
$air_density["yesterday_max"] = number_format($day($days_ago=1).AirDensity.max.format(add_label=False),4);
$air_density["yesterday_min"] = number_format($day($days_ago=1).AirDensity.min.format(add_label=False),4);
$air_density["yesterday_avg"] = number_format($day($days_ago=1).AirDensity.avg.format(add_label=False),4);
$air_density["yesterday_maxtime"] = date('H:i',$day($days_ago=1).AirDensity.maxtime.raw);
$air_density["yesterday_mintime"] = date('H:i',$day($days_ago=1).AirDensity.mintime.raw);
$air_density["month_max"] = number_format($month.AirDensity.max.format(add_label=False),4);
$air_density["month_min"] = number_format($month.AirDensity.min.format(add_label=False),4);
$air_density["month_avg"] = number_format($month.AirDensity.avg.format(add_label=False),4);
$air_density["month_maxtime"] = date('j M H:i',$month.AirDensity.maxtime.raw);
$air_density["month_mintime"] = date('j M H:i',$month.AirDensity.mintime.raw);
$air_density["year_max"] = number_format($year.AirDensity.max.format(add_label=False),4);
$air_density["year_min"] = number_format($year.AirDensity.min.format(add_label=False),4);
$air_density["year_avg"] = number_format($year.AirDensity.avg.format(add_label=False),4);
$air_density["year_maxtime"] = date('j M H:i',$year.AirDensity.maxtime.raw);
$air_density["year_mintime"] = date('j M H:i',$year.AirDensity.mintime.raw);
$air_density["alltime_max"] = number_format($alltime.AirDensity.max.format(add_label=False),4);
$air_density["alltime_min"] = number_format($alltime.AirDensity.min.format(add_label=False),4);
$air_density["alltime_avg"] = number_format($alltime.AirDensity.avg.format(add_label=False),4);
$air_density["alltime_maxtime"] = date('j M Y H:i',$alltime.AirDensity.maxtime.raw);
$air_density["alltime_mintime"] = date('j M Y H:i',$alltime.AirDensity.mintime.raw);
#end if

//air quality
$air["pm_units"] = "μg/m<sup><b>3</b></sup>";
#if $current.pm2_5.has_data
$air["current.pm2_5"] = $current.pm2_5.format(add_label=False, format_string="%.1f");
$air["24h.rollingavg.pm2_5"] = $current.pm2_5.format(add_label=False, format_string="%.1f");
#end if
#if $current.pm10_0.has_data
$air["current.pm10_0"] = $current.pm10_0.format(add_label=False, format_string="%.1f");
$air["24h.rollingavg.pm10_0"] = $current.pm10_0.format(add_label=False, format_string="%.1f");
#end if


//almanac
## If extended almanac information is available, do extra calculations.
#if $almanac.hasExtras
#set $sun_altitude = $almanac.sun.alt
#set $moonDays = ($current.dateTime.raw - $almanac.previous_new_moon.raw)/86400
#if $sun_altitude < 0
#set $sun_None="<i>(Always down)</i>"
#set $daylight_str = "00:00"
#else
#set $sun_None="<i>(Always up)</i>"
#set $daylight_str = "24:00"
#end if
#set $sunrise_ts = $almanac.sun.rise.raw
#set $sunset_ts = $almanac.sun.set.raw
#if $sunrise_ts and $sunset_ts
#set $now = $current.dateTime.raw
#set $today_daylight = $sunset_ts - $sunrise_ts
#set $seconds = $today_daylight
#set $hours = $seconds //3600
#set $seconds %= 3600
#set $minutes = $seconds//60
#set $seconds %= 60
#set $daylight_str = "%d hours, %d minutes, %d seconds" % ($hours, $minutes, $seconds)
#set $yesterday = $now - 24*3600
#set $yesterday_daylight = $almanac($almanac_time=$yesterday).sun.set.raw - $almanac($almanac_time=$yesterday).sun.rise.raw
#set $difference = $today_daylight - $yesterday_daylight
#if $difference
#set $delta = abs($difference)
#set $amt_str = "%s%d seconds" % (str(int($delta) // 60) + ' minutes, ' if ($delta // 60) > 0 else '', $delta % 60 if ($delta // 60) > 0 else $delta)
#if $difference > 0
#set $delta_str = "%s more than yesterday" % $amt_str
#else
#set $delta_str = "%s less than yesterday" % $amt_str
#end if
##set $daylight_str = "%s<br/>%s" % ($daylight_str, $delta_str)
#end if
#end if
#end if
#if $almanac.hasExtras
$alm["moon_altitude"] = round($almanac.moon.alt,2);
$alm["sun_altitude"] = round($almanac.sun.alt,2);
if ($alm["sun_altitude"] < 0)
{
$alm["sun_None"] = "<i>(Always down)</i>";
$alm["daylight_str"] = "00:00";
}
else
{
$alm["sun_None"] = "<i>(Always up)</i>";
$alm["daylight_str"] = "24:00";
}
$alm["sun_azimuth"] = $almanac.sun.az;
$alm["moon_azimuth"] = $almanac.moon.az;
$alm["sunrise"] = "$almanac.sun.rise.format(format_string="%H:%M")";
$alm["sunset"] = "$almanac.sun.set.format(format_string="%H:%M")";
$alm["sunrise_date"] = "$almanac.sun.rise.format("%b %d %Y %H:%M:%S")";
$alm["sunset_date"] = "$almanac.sun.set.format("%b %d %Y %H:%M:%S")";
$alm["sun_right_ascension"] = $almanac.sun.ra;
$alm["next_equinox"] = "$almanac.next_equinox";
$alm["next_solstice"] = "$almanac.next_solstice";
$alm["sidereal_time"] = $almanac.sidereal_time;
$alm["civil_twilight_begin"] = "$almanac(horizon=-6).sun(use_center=1).rise.format(format_string="%H:%M")";
$alm["civil_twilight_end"] = "$almanac(horizon=-6).sun(use_center=1).set.format(format_string="%H:%M")";
$alm["nautical_twilight_begin"] = "$almanac(horizon=-12).sun(use_center=1).rise.format(format_string="%H:%M")";
$alm["nautical_twilight_end"] = "$almanac(horizon=-12).sun(use_center=1).set.format(format_string="%H:%M")";
$alm["astronomical_twilight_begin"] = "$almanac(horizon=-18).sun(use_center=1).rise.format(format_string="%H:%M")";
$alm["astronomical_twilight_end"] = "$almanac(horizon=-18).sun(use_center=1).set.format(format_string="%H:%M")";
$alm["sun_meridian_transit"] = "$almanac.sun.transit.format(format_string="%H:%M")";
$alm["moon_meridian_transit"] = "$almanac.moon.transit.format(format_string="%H:%M")";
$alm["moonphase"] = "$almanac.moon_phase";
$alm["moonphase_number"] = $moonphase_no;
$alm["moon_age"] = $moonDays;
$alm["hour_sun"] = $(almanac.sun.ha % 360.0);
$alm["hour_moon"] = $(almanac.moon.ha % 360.0);
$alm["luminance"] = round($almanac.moon.moon_fullness,2);
$alm["fullmoon"] = "$almanac.next_full_moon.format("%d %b %H:%M")";
$alm["newmoon"] = "$almanac.next_new_moon.format("%d %b %H:%M")";   
$alm["daylight"] = "$daylength";
$alm["moonrise"] = "$almanac.moon.rise.format(format_string="%H:%M")";
$alm["moonset"] = "$almanac.moon.set.format(format_string="%H:%M")";
$alm["mercury_hlongitude"] = $almanac.mercury.hlongitude.raw;
$alm["venus_hlongitude"] = $almanac.venus.hlongitude.raw;
$alm["earth_hlongitude"] = $almanac.sun.hlongitude.raw;
$alm["mars_hlongitude"] = $almanac.mars.hlongitude.raw;
$alm["jupiter_hlongitude"] = $almanac.jupiter.hlongitude.raw;
$alm["saturn_hlongitude"] = $almanac.saturn.hlongitude.raw;
$alm["uranus_hlongitude"] = $almanac.uranus.hlongitude.raw;
$alm["neptune_hlongitude"] = $almanac.neptune.hlongitude.raw;
$alm["pluto_hlongitude"] = $almanac.pluto.hlongitude.raw;
#end if
//night or day?
if (strtotime(date("G.i")) >= strtotime($alm["civil_twilight_begin"]) && strtotime(date("G.i")) < strtotime($alm["civil_twilight_end"])){
    $dayPartCivil = "day";
}else{
    $dayPartCivil = "night";
}
if (strtotime(date("G.i")) >= strtotime($alm["nautical_twilight_begin"]) && strtotime(date("G.i")) < strtotime($alm["nautical_twilight_end"])){
    $dayPartNautical = "day";
}else{
    $dayPartNautical = "night";
}
if (strtotime(date("G.i")) >= strtotime($alm["sunrise"]) && strtotime(date("G.i")) < strtotime($alm["sunset"])){
    $dayPartNatural = "day";
}else{
    $dayPartNatural = "night";
}




//barometer
#if $current.barometer.has_data
$barom["units"] = "$unit.label.barometer";
if ($barom["units"] == " inHg"){
    $barom["units"] = "inHg";
}
else if ($barom["units"] == " hPa")
{
    $barom["units"] = "hPa";
}
else if ($barom["units"] == " kPa")
{
    $barom["units"] = "kPa";
}
else if ($barom["units"] == " mmHg")
{
    $barom["units"] = "mmHg";
}
else if ($barom["units"] == " mbar")
{
    $barom["units"] = "mbar";
}
$barom["now"] = $weewxrt[10]; //$realData["barometer"]; Removed for future.
$barom["max"] = $day.barometer.max.format(add_label=False);
$barom["maxtime"] = date('H:i',"$day.barometer.maxtime.raw");
$barom["min"] = $day.barometer.min.format(add_label=False);
$barom["mintime"] = date('H:i',"$day.barometer.mintime.raw");
#if $trend.barometer.has_data
$barom["trend_code"] = round($trend.barometer.raw,0);
if(is_numeric($barom["trend_code"]) != 1){$barom["trend_code"] = 0;}
if($barom["trend_code"]>3){$barom["trend_desc"]="Rising Very Rapidly";$barom["trend_code"]=4;}
else if($barom["trend_code"]>2){$barom["trend_desc"]="Rising Quickly";$barom["trend_code"]=3;}
else if($barom["trend_code"]>1){$barom["trend_desc"]="Rising";$barom["trend_code"]=2;}
else if($barom["trend_code"]>0){$barom["trend_desc"]="Rising Slowly";$barom["trend_code"]=1;}
else if($barom["trend_code"]==0){$barom["trend_desc"]="Steady";$barom["trend_code"]=0;}
else if($barom["trend_code"]<0){$barom["trend_desc"]="Falling Slowly";$barom["trend_code"]=-1;}
else if($barom["trend_code"]<-1){$barom["trend_desc"]="Falling";$barom["trend_code"]=-2;}
else if($barom["trend_code"]<-2){$barom["trend_desc"]="Falling Quickly";$barom["trend_code"]=-3;}
else if($barom["trend_code"]<-3){$barom["trend_desc"]="Falling Very Rapidly";$barom["trend_code"]=-4;}
else if($barom["trend_code"]=="N/A"||$barom["trend_code"]==" N/A"||$barom["trend_code"]=="  N/A"||$barom["trend_code"]==    N/A){$barom["trend_desc"]="Steady";$barom["trend_code"]=0;}
#end if
$barom["yesterday_max"] = $day($days_ago=1).barometer.max.format(add_label=False);
$barom["yesterday_maxtime"] = date('H:i',$day($days_ago=1).barometer.maxtime.raw);
$barom["yesterday_min"] = $day($days_ago=1).barometer.min.format(add_label=False);
$barom["yesterday_mintime"] = date('H:i',$day($days_ago=1).barometer.mintime.raw);
$barom["month_max"] = $month.barometer.max.format(add_label=False);
$barom["month_maxtime"] = date('j M H:i',$month.barometer.maxtime.raw);
$barom["month_min"] = $month.barometer.min.format(add_label=False);
$barom["month_mintime"] = date('j M H:i',$month.barometer.mintime.raw);
$barom["year_max"] = $year.barometer.max.format(add_label=False);
$barom["year_maxtime"] = date('j M H:i',$year.barometer.maxtime.raw);
$barom["year_min"] = $year.barometer.min.format(add_label=False);
$barom["year_mintime"] = date('j M H:i',$year.barometer.mintime.raw);
$barom["alltime_max"] = $alltime.barometer.max.format(add_label=False);
$barom["alltime_maxtime"] = date('j M Y H:i',$alltime.barometer.maxtime.raw);
$barom["alltime_min"] = $alltime.barometer.min.format(add_label=False);
$barom["alltime_mintime"] = date('j M Y H:i',$alltime.barometer.mintime.raw);
#end if


//dewpoint
$dew["now"] = $weewxrt[4];
#if $trend.dewpoint.has_data
$dew["trend"] = $trend.dewpoint.format(add_label=False);
if(is_numeric($dew["trend"]) != 1){$dew["trend"] = 0;}
#end if
$dew["day_max"] = $day.dewpoint.max.format(add_label=False);
$dew["day_maxtime"] = date('H:i',$day.dewpoint.maxtime.raw);
$dew["day_min"] = $day.dewpoint.min.format(add_label=False);
$dew["day_mintime"] = date('H:i',$day.dewpoint.mintime.raw);
$dew["yesterday_max"] = $day($days_ago=1).dewpoint.max.format(add_label=False);
$dew["yesterday_maxtime"] = date('H:i',$day($days_ago=1).dewpoint.maxtime.raw);
$dew["yesterday_min"] = $day($days_ago=1).dewpoint.min.format(add_label=False);
$dew["yesterday_mintime"] = date('H:i',$day($days_ago=1).dewpoint.mintime.raw);
$dew["month_max"] = $month.dewpoint.max.format(add_label=False);
$dew["month_maxtime"] = date('D j H:i',$month.dewpoint.maxtime.raw);
$dew["month_min"] = $month.dewpoint.min.format(add_label=False);
$dew["month_mintime"] = date('D j H:i',$month.dewpoint.mintime.raw);
$dew["year_max"] = $year.dewpoint.max.format(add_label=False);
$dew["year_maxtime"] = date('D j M H:i',$year.dewpoint.maxtime.raw);
$dew["year_min"] = $year.dewpoint.min.format(add_label=False); 
$dew["year_mintime"] = date('D j M H:i',$year.dewpoint.mintime.raw); 
$dew["alltime_max"] = $alltime.dewpoint.max.format(add_label=False);
$dew["alltime_maxtime"] = date('j M Y H:i',$alltime.dewpoint.maxtime.raw);
$dew["alltime_min"] = $alltime.dewpoint.min.format(add_label=False);
$dew["alltime_mintime"] = date('j M Y H:i',$alltime.dewpoint.mintime.raw);
    
//humidity
$humid["now"] = $weewxrt[3];
#if $trend.outHumidity.has_data
$humid["trend"] = $trend.outHumidity.format(add_label=False);
if(is_numeric($humid["trend"]) != 1){$humid["trend"] = 0;}
#end if
$humid["day_max"] = $day.outHumidity.max.format(add_label=False);
$humid["day_maxtime"] = date('H:i',$day.outHumidity.maxtime.raw);
$humid["day_min"] = $day.outHumidity.min.format(add_label=False);
$humid["day_mintime"] = date('H:i',$day.outHumidity.mintime.raw);
$humid["yesterday_max"] = $day($days_ago=1).outHumidity.max.format(add_label=False);
$humid["yesterday_maxtime"] = date('H:i',$day($days_ago=1).outHumidity.maxtime.raw);
$humid["yesterday_min"] = $day($days_ago=1).outHumidity.min.format(add_label=False);
$humid["yesterday_mintime"] = date('H:i',$day($days_ago=1).outHumidity.mintime.raw);
$humid["month_max"] = $month.outHumidity.max.format(add_label=False);
$humid["month_maxtime"] = date('D j H:i',$month.outHumidity.maxtime.raw);
$humid["month_min"] = $month.outHumidity.min.format(add_label=False);
$humid["month_mintime"] = date('D j H:i',$month.outHumidity.mintime.raw);
$humid["year_max"] = $year.outHumidity.max.format(add_label=False);
$humid["year_maxtime"] = date('D j M H:i',$year.outHumidity.maxtime.raw);
$humid["year_min"] = $year.outHumidity.min.format(add_label=False);
$humid["year_mintime"] = date('D j M H:i',$year.outHumidity.mintime.raw);
$humid["alltime_max"] = $alltime.outHumidity.max.format(add_label=False);
$humid["alltime_maxtime"] = date('j M Y H:i',$alltime.outHumidity.maxtime.raw);
$humid["alltime_min"] = $alltime.outHumidity.min.format(add_label=False);
$humid["alltime_mintime"] = date('j M Y H:i',$alltime.outHumidity.mintime.raw);
$humid["indoors_now"] = $weewxrt[23];
#if $trend.inHumidity.has_data
$humid["indoors_trend"] = round($trend.inHumidity.format(add_label=False),1);
if(is_numeric($humid["indoors_trend"]) != 1){$humid["indoors_trend"] = 0;}
#end if
$humid["indoors_day_max"] = $day.inHumidity.max.format(add_label=False);
$humid["indoors_day_maxtime"] = date('H:i',$day.inHumidity.maxtime.raw);
$humid["indoors_day_min"] = $day.inHumidity.min.format(add_label=False);
$humid["indoors_day_mintime"] = date('H:i',$day.inHumidity.mintime.raw);
$humid["indoors_yesterday_max"] = $day($days_ago=1).inHumidity.max.format(add_label=False);
$humid["indoors_yesterday_maxtime"] = date('H:i',$day($days_ago=1).inHumidity.maxtime.raw);
$humid["indoors_yesterday_min"] = $day($days_ago=1).inHumidity.min.format(add_label=False);
$humid["indoors_yesterday_mintime"] = date('H:i',$day($days_ago=1).inHumidity.mintime.raw);
$humid["indoors_month_max"] = $month.inHumidity.max.format(add_label=False);
$humid["indoors_month_maxtime"] = date('D j H:i',$month.inHumidity.maxtime.raw);
$humid["indoors_month_min"] = $month.inHumidity.min.format(add_label=False);
$humid["indoors_month_mintime"] = date('D j H:i',$month.inHumidity.mintime.raw);
$humid["indoors_year_max"] = $year.inHumidity.max.format(add_label=False);
$humid["indoors_year_maxtime"] = date('D j M H:i',$year.inHumidity.maxtime.raw);
$humid["indoors_year_min"] = $year.inHumidity.min.format(add_label=False);
$humid["indoors_year_mintime"] = date('D j H:i',$year.inHumidity.mintime.raw);
$humid["indoors_alltime_max"] = $alltime.inHumidity.max.format(add_label=False);
$humid["indoors_alltime_maxtime"] = date('j M Y H:i',$alltime.inHumidity.maxtime.raw);
$humid["indoors_alltime_min"] = $alltime.inHumidity.min.format(add_label=False);
$humid["indoors_alltime_mintime"] = date('j M Y H:i',$alltime.inHumidity.mintime.raw);

//lightning
$lightning["last_strike_time"] = "$alltime.lightning_last_det_time.lastnonzero.raw";
$lightning["current_strike_count"] = "$current.lightning_strike_count"; 
$lightning["hour_strike_count"] ="$hour.lightning_strike_count.sum";  
$lightning["today_strike_count"] = "$day.lightning_strike_count.sum";
$lightning["yesterday_strike_count"] = "$day($days_ago=1).lightning_strike_count.sum";
$lightning["month_strike_count"] = "$month.lightning_strike_count.sum";
$lightning["year_strike_count"] = "$year.lightning_strike_count.sum";
$lightning["last_time"] = "$alltime.lightning_last_det_time.lastnonzero.raw";
$lightning["alltime_strike_count"] = "$alltime.lightning_strike_count.sum";
$lightning["last_distance"] = "$alltime.lightning_distance.lastnonzero.format(add_label=False, $localize=False)";
$lightning["now_energy"] = $weewxrt[59];
$lightning["now_strike_count"] = $weewxrt[60];
$lightning["now_noise_count"] = $weewxrt[61];
$lightning["now_disturber_count"] = $weewxrt[62];
if (trim($lightning["last_time"]) == 'N/A' || $lightning["last_time"] == '0' || $lightning["last_time"] == 'NULL')
{
$lightning["time_ago"] = 0;
$lightning['last_time'] = time();
$lightning["last_distance"] = "0";
}
else
{
$parts = explode(" ", $lightning["last_time"]);
$parts1 = explode("/", $parts[0]);
$lightning["time_ago"] = time() - strtotime("20" . $parts1[2] . $parts1[1] . $parts1[0] . " " . $parts[1]);
}

//rainfall
#if $current.rain.has_data
$rain["units"] = "$unit.label.rain";
if($rain["units"] == " mm")
{
$rain["units"] = "mm";
}
else if($rain["units"] == " cm")
{
$rain["units"] = "cm";
}
else if($rain["units"] == " in")
{
$rain["units"] = "in";
}
$rain["rate"] = round($weewxrt[8],1);
$rain["current"] = round($weewxrt[9],1);
$rain["total"] = round($day.rain.sum.raw,1);
$rain["last_hour"] = round($span($hour_delta=1).rain.sum.raw,1);
$rain["last_10min"] = $span($time_delta=600).rain.sum.raw;
$rain["last_24hour"] = round($span($hour_delta=24).rain.sum.raw,1);
$rain["24h_rate_max"] = $day($days_ago=1).rainRate.max.raw;
$rain["24h_rate_maxtime"] = $day($days_ago=1).rainRate.maxtime.raw;
$rain["yesterday_rate_max"] = $day($days_ago=1).rainRate.max.raw;
$rain["yesterday_rate_maxtime"] = $day($days_ago=1).rainRate.maxtime.raw;
$rain["yesterday"] = round($day($days_ago=1)rain.sum.raw,1);
$rain["24h_total"] = round($span($hour_delta=24).rain.sum.raw,1);
$rain["day"] = round($day.rain.sum.raw,1);
$rain["day_rate_max"] = $day.rainRate.max.raw;
$rain["day_rate_maxtime"] = $day.rainRate.maxtime.raw;
$rain["day_total"] = $day.rain.sum.raw;
$rain["month_rate_max"] = $month.rainRate.max.raw;
$rain["month_rate_maxtime"] = $month.rainRate.maxtime.raw;
$rain["month_total"] = round($month.rain.sum.raw,1);
$rain["year_rate_max"] = $year.rainRate.max.raw;
$rain["year_rate_maxtime"] = $year.rainRate.maxtime.raw;
$rain["year_total"] = round($year.rain.sum.raw,1);
$rain["alltime_rate_max"] = $alltime.rainRate.max.raw;
$rain["alltime_rate_maxtime"] = $alltime.rainRate.maxtime.raw;
$rain["alltime_total"] = round($alltime.rain.sum.raw,1);
#if $current.stormRain.has_data
$rain["storm_rain"] = $current.stormRain.raw;
if(is_numeric($rain["storm_rain"]) != 1){$rain["storm_rain"] = 0;}
if($rain["storm_rain"] > 0 ){$rain["storm_rain_start"] = date('D j M H:i',($TS)-($time_since('stormRain=0').raw));}
#end if
$rain["last_rain"] = date('D j M H:i',$time_at('rain>0').raw);
if($weewxrt[8] < 2.5){$rain["intensity"]="Slight";}
else if($weewxrt[8] < 10){$rain["intensity"]="Moderate";}
else if($weewxrt[8] < 50){$rain["intensity"]="Heavy";}
else if($weewxrt[8] >= 50){$rain["intensity"]="Violent";}
#end if

//sky
$sky["lux"] = round($weewxrt[45]/0.00809399477,0,PHP_ROUND_HALF_UP);
$sky["day_rad_max"] = "$day.radiation.max.format($localize=False,add_label=False)";
if($sky["day_rad_max"] == "   N/A"){$sky["day_rad_max"]=0;}
else{$sky["day_rad_max"] = $day.radiation.max.format($localize=False,add_label=False);}
$sky["day_lux_max"] = round($sky["day_rad_max"]/0.00809399477,0,PHP_ROUND_HALF_UP);
$sky["cloud_base"] = $weewxrt[52];
#if $current.cloudcover.has_data
$sky["cloud_cover"] = $current.cloudcover.raw;
if(is_numeric($sky["cloud_cover"]) != 1){$sky["cloud_cover"] = 0;}
#end if

//solar
#if $current.radiation.has_data
$solar["now"] = $current.radiation.format($localize=False,add_label=False);
$solar["day_max"] = $day.radiation.max.format($localize=False,add_label=False);
$solar["day_maxtime"] = date('H:i',$day.radiation.maxtime.raw);
$solar["yesterday_max"] = $day($days_ago=1).radiation.max.format($localize=False,add_label=False);
$solar["yesterday_maxtime"] = date('H:i',$day($days_ago=1).radiation.maxtime.raw);
$solar["month_max"] = $month.radiation.max.format($localize=False,add_label=False);
$solar["month_maxtime"] = date('D j H:i',$month.radiation.maxtime.raw);
$solar["year_max"] = $year.radiation.max.format($localize=False,add_label=False);
$solar["year_maxtime"] = date('D j M H:i',$year.radiation.maxtime.raw);
$solar["alltime_max"] = $alltime.radiation.max.format($localize=False,add_label=False);
$solar["alltime_maxtime"] = date('j M Y H:i',$alltime.radiation.maxtime.raw);
#end if

//temperature
$temp["units"] = "$unit.label.outTemp";
if($temp["units"] == "°C")
{
$temp["units"] = "C";
}
else if($temp["units"] == "°F")
{
$temp["units"] = "F";
}
$temp["indoor_now"] = $weewxrt[22];
#if $trend.inTemp.has_data
$temp["indoor_trend"] = round($trend.inTemp.raw,1);
if(is_numeric($temp["indoor_trend"]) != 1){$temp["indoor_trend"] = 0;}
#end if
$temp["indoor_day_max"] = $day.inTemp.max.format(add_label=False);
$temp["indoor_day_min"] = $day.inTemp.min.format(add_label=False);
$temp["outside_now"] = $weewxrt[2];
#if $trend.outTemp.has_data
$temp["outside_trend"] = round($trend.outTemp.raw,1);
if(is_numeric($temp["outside_trend"]) != 1){$temp["outside_trend"] = 0;}
#end if
$temp["apptemp"] = $weewxrt[54];
$temp["heatindex"] = $weewxrt[41];
$temp["windchill"] = round($weewxrt[24],1);
$temp["humidex"] = $weewxrt[42];
$temp["outside_24h_max"] = $day($days_ago=1).outTemp.max.format(add_label=False);
$temp["outside_day_avg_60mn"] = $span($time_delta=3600).outTemp.avg.format(add_label=False);
$temp["outside_24h_maxtime"] = date('H:i',$day($days_ago=1).outTemp.maxtime.raw);
$temp["outside_24h_min"] = $day($days_ago=1).outTemp.min.format(add_label=False);
$temp["outside_24h_mintime"] = date('H:i',$day($days_ago=1).outTemp.mintime.raw);
$temp["outside_yesterday_max"] = $day($days_ago=1).outTemp.max.format(add_label=False);
$temp["outside_yesterday_maxtime"] = date('H:i',$day($days_ago=1).outTemp.maxtime.raw);
$temp["outside_yesterday_min"] = $day($days_ago=1).outTemp.min.format(add_label=False);
$temp["outside_yesterday_mintime"] = date('H:i',$day($days_ago=1).outTemp.mintime.raw);
$temp["outside_day_avg"] = $day.outTemp.avg.format(add_label=False);
$temp["outside_day_max"] = $day.outTemp.max.format(add_label=False);
$temp["outside_day_maxtime"] = date('H:i',$day.outTemp.maxtime.raw);
$temp["outside_day_min"] = $day.outTemp.min.format(add_label=False);
$temp["outside_day_mintime"] = date('H:i',$day.outTemp.mintime.raw);
$temp["outside_month_max"] = $month.outTemp.max.format(add_label=False);
$temp["outside_month_maxtime"] = date('D j H:i',$month.outTemp.maxtime.raw);
$temp["outside_month_min"] = $month.outTemp.min.format(add_label=False);
$temp["outside_month_mintime"] = date('D j H:i',$month.outTemp.mintime.raw);
$temp["outside_year_max"] = $year.outTemp.max.format(add_label=False);
$temp["outside_year_maxtime"] = date('D j M H:i',$year.outTemp.maxtime.raw);
$temp["outside_year_maxtime2"] = date('M',$year.outTemp.maxtime.raw);
$temp["outside_year_min"] = $year.outTemp.min.format(add_label=False);
$temp["outside_year_mintime"] = date('D j M H:i',$year.outTemp.mintime.raw);
$temp["outside_year_mintime2"] = date('M',$year.outTemp.mintime.raw);
$temp["outside_alltime_max"] = $alltime.outTemp.max.format(add_label=False);
$temp["outside_alltime_maxtime"] = date('j M Y H:i',$alltime.outTemp.maxtime.raw);
$temp["outside_alltime_min"] = $alltime.outTemp.min.format(add_label=False);
$temp["outside_alltime_mintime"] = date('j M Y H:i',$alltime.outTemp.mintime.raw);
$Temp = $temp["indoor_now"];
$Humidity = $humid["indoors_now"];
$T = $Temp*9/5+32;
$RH = $Humidity;
$HI = 0;
if($T<=40.0){$HI=$T;}
else {$HI=-42.379+(2.04901523*$T)+(10.14333127*$RH)-(0.22475541*$T*$RH)-(0.00683783*$T*$T)-(0.05481717*$RH*$RH)+(0.00122874*$T*$T*$RH)+(0.00085282*$T*$RH*$RH)-(0.00000199*$T*$T*$RH*$RH);}
if ($RH<13&&$T>=80&&$T<=112){$adjust=((13-$RH)/4)*sqrt(17-abs($T-95)/17);$HI=$HI-$adjust;}
else if ($RH>85&&$T>=80&&$T<=87){$adjust=(($RH-85)/10)*((87-$T)/5);$HI=$HI+$adjust;}
else if ($T<80){$HI=0.5*($T+61.0+(($T-68.0)*1.2)+($RH*0.094));}
$temp["indoor_now_feels"] = number_format($HI, 1);
$temp["indoor_now_feels_degC"] = (number_format($HI, 1)-32)*5/9;


//uv
$uv["now"] = $weewxrt[43];
$uv["day_max"] = $day.UV.max.format(add_label=False);
$uv["day_maxtime"] = date('H:i',$day.UV.maxtime.raw);
$uv["yesterday_max"] = $day($days_ago=1).UV.max.format(add_label=False);
$uv["yesterday_maxtime"] = date('H:i',$day($days_ago=1).UV.maxtime.raw);
$uv["month_max"] = $month.UV.max.format(add_label=False);
$uv["month_maxtime"] = date('D j H:i',$month.UV.maxtime.raw);
$uv["year_max"] = $year.UV.max.format(add_label=False);
$uv["year_maxtime"] = date('D j M H:i',$year.UV.maxtime.raw);
$uv["alltime_max"] = $alltime.UV.max.format(add_label=False);
$uv["alltime_maxtime"] = date('j M Y H:i',$alltime.UV.maxtime.raw);

//wind
#if $current.windSpeed.has_data
$wind["units"] = "$unit.label.windSpeed"; // m/s or mph or km/h or kts
if ($wind["units"] == " m/s")
{
$wind["units"] = "m/s";
}
else if ($wind["units"] == " mph")
{
$wind["units"] = "mph";
}
else if ($wind["units"] == " km/h")
{
$wind["units"] = "km/h";
}
else if ($wind["units"] == " kts")
{
$wind["units"] = "kts";
}
$wind["direction"] = str_pad($weewxrt[7], 3, '0', STR_PAD_LEFT);
$wind["direction_10m_avg"] = "$span($time_delta=600).windDir.avg.format(add_label=False)";
$wind["cardinal"] = $weewxrt[11];    
$wind["speed"] = $weewxrt[6];
$wind["gust"] = $weewxrt[57];
$wind["speed_bft"] = $weewxrt[12];
$wind["speed_max"] = $day.windSpeed.max.format(add_label=False);
$wind["speed_maxtime"] = date('H:i',$day.windSpeed.maxtime.raw);
$wind["gust_max"] = $day.windGust.max.format(add_label=False);
$wind["gust_maxtime"] = date('H:i',$day.windGust.maxtime.raw);
$wind["wind_run"] = $weewxrt[17];
$wind["speed_10m_avg"] = $span($time_delta=600).windSpeed.avg.format(add_label=False);
$wind["speed_10m_max"] = $span($time_delta=600).windSpeed.max.format(add_label=False);
$wind["gust_10m_max"] = $span($time_delta=600).windGust.max.format(add_label=False);
$wind["speed_yesterday_max"] = $day($days_ago=1).windSpeed.max.format(add_label=False);
$wind["speed_yesterday_maxtime"] = date('H:i',$day($days_ago=1).windSpeed.maxtime.raw);
$wind["gust_yesterday_max"] = $day($days_ago=1).windGust.max.format(add_label=False);
$wind["gust_yesterday_maxtime"] = date('H:i',$day($days_ago=1).windGust.maxtime.raw);
$wind["speed_month_max"] = $month.windSpeed.max.format(add_label=False);
$wind["speed_month_maxtime"] = date('M',$month.windSpeed.maxtime.raw);
$wind["gust_month_max"] = $month.windGust.max.format(add_label=False);
$wind["gust_month_maxtime"] = date('D j M H:i',$month.windGust.maxtime.raw);
$wind["speed_year_max"] = $year.windSpeed.max.format(add_label=False);
$wind["speed_year_maxtime"] = "$year.windSpeed.maxtime";
$wind["gust_year_max"] = $year.windGust.max.format(add_label=False);
$wind["gust_year_maxtime"] = date('D j M H:i',$year.windGust.maxtime.raw);
$wind["speed_alltime_max"] = $alltime.windSpeed.max.format(add_label=False);
$wind["speed_alltime_maxtime"] = "$alltime.windSpeed.maxtime";
$wind["gust_alltime_max"] = $alltime.windGust.max.format(add_label=False);
$wind["gust_alltime_maxtime"] = date('D j M Y H:i',$alltime.windGust.maxtime.raw);

#end if

//colors

//air density
$colorAirDensity = "#007fff";

//barometer almanac
$colorBarometerCurrent = "$colorize($current.barometer)";
$colorBarometerDayMax = "$colorize($day.barometer.max)";
$colorBarometerDayMin = "$colorize($day.barometer.min)";
$colorBarometerYesterdayMax = "$colorize($day($days_ago=1).barometer.max)";
$colorBarometerYesterdayMin = "$colorize($day($days_ago=1).barometer.min)";
$colorBarometerMonthMax = "$colorize($month.barometer.max)";
$colorBarometerMonthMin = "$colorize($month.barometer.min)";
$colorBarometerYearMax = "$colorize($year.barometer.max)";
$colorBarometerYearMin = "$colorize($year.barometer.min)";
$colorBarometerAlltimeMax = "$colorize($alltime.barometer.max)";
$colorBarometerAlltimeMin = "$colorize($alltime.barometer.min)";
//temperature etc current

if($weewxrt[2]<= -10){$colorOutTemp = "#8781bd";}
else if($weewxrt[2]<=0){$colorOutTemp = "#487ea9";}
else if($weewxrt[2]<=5){$colorOutTemp = "#3b9cac";}
else if($weewxrt[2]<10){$colorOutTemp = "#9aba2f";}
else if($weewxrt[2]<20){$colorOutTemp = "#e6a141";}
else if($weewxrt[2]<25){$colorOutTemp = "#ec5a34";}
else if($weewxrt[2]<30){$colorOutTemp = "#d05f2d";}
else if($weewxrt[2]<35){$colorOutTemp = "#d65b4a";}
else if($weewxrt[2]<40){$colorOutTemp = "#dc4953";}
else if($weewxrt[2]<100){$colorOutTemp = "#e26870";}

if($weewxrt[4]<= -10){$colorDewpoint = "#8781bd";}
else if($weewxrt[4]<=0){$colorDewpoint = "#487ea9";}
else if($weewxrt[4]<=5){$colorDewpoint = "#3b9cac";}
else if($weewxrt[4]<10){$colorDewpoint = "#9aba2f";}
else if($weewxrt[4]<20){$colorDewpoint = "#e6a141";}
else if($weewxrt[4]<25){$colorDewpoint = "#ec5a34";}
else if($weewxrt[4]<30){$colorDewpoint = "#d05f2d";}
else if($weewxrt[4]<35){$colorDewpoint = "#d65b4a";}
else if($weewxrt[4]<40){$colorDewpoint = "#dc4953";}
else if($weewxrt[4]<100){$colorDewpoint = "#e26870";}

if($weewxrt[24]<= -10){$colorWindchill = "#8781bd";}
else if($weewxrt[24]<=0){$colorWindchill = "#487ea9";}
else if($weewxrt[24]<=5){$colorWindchill = "#3b9cac";}
else if($weewxrt[24]<10){$colorWindchill = "#9aba2f";}
else if($weewxrt[24]<20){$colorWindchill = "#e6a141";}
else if($weewxrt[24]<25){$colorWindchill = "#ec5a34";}
else if($weewxrt[24]<30){$colorWindchill = "#d05f2d";}
else if($weewxrt[24]<35){$colorWindchill = "#d65b4a";}
else if($weewxrt[24]<40){$colorWindchill = "#dc4953";}
else if($weewxrt[24]<100){$colorWindchill = "#e26870";}

if($weewxrt[41]<= -10){$colorHeatindex = "#8781bd";}
else if($weewxrt[41]<=0){$colorHeatindex = "#487ea9";}
else if($weewxrt[41]<=5){$colorHeatindex = "#3b9cac";}
else if($weewxrt[41]<10){$colorHeatindex = "#9aba2f";}
else if($weewxrt[41]<20){$colorHeatindex = "#e6a141";}
else if($weewxrt[41]<25){$colorHeatindex = "#ec5a34";}
else if($weewxrt[41]<30){$colorHeatindex = "#d05f2d";}
else if($weewxrt[41]<35){$colorHeatindex = "#d65b4a";}
else if($weewxrt[41]<40){$colorHeatindex = "#dc4953";}
else if($weewxrt[41]<100){$colorHeatindex = "#e26870";}

if($weewxrt[42]<= -10){$colorHumidex = "#8781bd";}
else if($weewxrt[42]<=0){$colorHumidex = "#487ea9";}
else if($weewxrt[42]<=5){$colorHumidex = "#3b9cac";}
else if($weewxrt[42]<10){$colorHumidex = "#9aba2f";}
else if($weewxrt[42]<20){$colorHumidex = "#e6a141";}
else if($weewxrt[42]<25){$colorHumidex = "#ec5a34";}
else if($weewxrt[42]<30){$colorHumidex = "#d05f2d";}
else if($weewxrt[42]<35){$colorHumidex = "#d65b4a";}
else if($weewxrt[42]<40){$colorHumidex = "#dc4953";}
else if($weewxrt[42]<100){$colorHumidex = "#e26870";}

if($weewxrt[54]<= -10){$colorAppTemp = "#8781bd";}
else if($weewxrt[54]<=0){$colorAppTemp = "#487ea9";}
else if($weewxrt[54]<=5){$colorAppTemp = "#3b9cac";}
else if($weewxrt[54]<10){$colorAppTemp = "#9aba2f";}
else if($weewxrt[54]<20){$colorAppTemp = "#e6a141";}
else if($weewxrt[54]<25){$colorAppTemp = "#ec5a34";}
else if($weewxrt[54]<30){$colorAppTemp = "#d05f2d";}
else if($weewxrt[54]<35){$colorAppTemp = "#d65b4a";}
else if($weewxrt[54]<40){$colorAppTemp = "#dc4953";}
else if($weewxrt[54]<100){$colorAppTemp = "#e26870";}

$colorOutTempDayAvg = "$colorize($day.outTemp.avg)";

//humidity
if($humid["now"]<30){$colorHumidity="Blue";}
else if($humid["now"]<60){$colorHumidity="Green";}
else if($humid["now"]<100){$colorHumidity="Red";}

if($humid["day_max"]<30){$colorHumidityDayMax="Blue";}
else if($humid["day_max"]<60){$colorHumidityDayMax="Green";}
else if($humid["day_max"]<100){$colorHumidityDayMax="Red";}
if($humid["day_min"]<30){$colorHumidityDayMin="Blue";}
else if($humid["day_min"]<60){$colorHumidityDayMin="Green";}
else if($humid["day_min"]<100){$colorHumidityDayMin="Red";}

if($humid["yesterday_max"]<30){$colorHumidityYesterdayMax="Blue";}
else if($humid["yesterday_max"]<60){$colorHumidityYesterdayMax="Green";}
else if($humid["yesterday_max"]<100){$colorHumidityYesterdayMax="Red";}
if($humid["yesterday_min"]<30){$colorHumidityYesterdayMin="Blue";}
else if($humid["yesterday_min"]<60){$colorHumidityYesterdayMin="Green";}
else if($humid["yesterday_min"]<100){$colorHumidityYesterdayMin="Red";}

if($humid["month_max"]<30){$colorHumidityMonthMax="Blue";}
else if($humid["month_max"]<60){$colorHumidityMonthMax="Green";}
else if($humid["month_max"]<100){$colorHumidityMonthMax="Red";}
if($humid["month_min"]<30){$colorHumidityMonthMin="Blue";}
else if($humid["month_min"]<60){$colorHumidityMonthMin="Green";}
else if($humid["month_min"]<100){$colorHumidityMonthMin="Red";}

if($humid["year_max"]<30){$colorHumidityYearMax="Blue";}
else if($humid["year_max"]<60){$colorHumidityYearMax="Green";}
else if($humid["year_max"]<100){$colorHumidityYearMax="Red";}
if($humid["year_min"]<30){$colorHumidityYearMin="Blue";}
else if($humid["year_min"]<60){$colorHumidityYearMin="Green";}
else if($humid["year_min"]<100){$colorHumidityYearMin="Red";}

if($humid["alltime_max"]<30){$colorHumidityAlltimeMax="Blue";}
else if($humid["alltime_max"]<60){$colorHumidityAlltimeMax="Green";}
else if($humid["alltime_max"]<100){$colorHumidityAlltimeMax="Red";}
if($humid["alltime_min"]<30){$colorHumidityAlltimeMin="Blue";}
else if($humid["alltime_min"]<60){$colorHumidityAlltimeMin="Green";}
else if($humid["alltime_min"]<100){$colorHumidityAlltimeMin="Red";}

//temperature almanac
//day
$colorOutTempDayMax = "$colorize($day.outTemp.max)";
$colorOutTempDayMin = "$colorize($day.outTemp.min)";
$colorDewpointDayMax = "$colorize($day.dewpoint.max)";
$colorDewpointDayMin = "$colorize($day.dewpoint.min)";

//yesterday
$colorOutTempYesterdayMax = "$colorize($day($days_ago=1).outTemp.max)";
$colorOutTempYesterdayMin = "$colorize($day($days_ago=1).outTemp.min)";
$colorDewpointYesterdayMax = "$colorize($day($days_ago=1).dewpoint.max)";
$colorDewpointYesterdayMin = "$colorize($day($days_ago=1).dewpoint.min)";

//month
$colorOutTempMonthMax = "$colorize($month.outTemp.max)";
$colorOutTempMonthMin = "$colorize($month.outTemp.min)";
$colorDewpointMonthMax = "$colorize($month.dewpoint.max)";
$colorDewpointMonthMin = "$colorize($month.dewpoint.min)";

//year
$colorOutTempYearMax = "$colorize($year.outTemp.max)";
$colorOutTempYearMin = "$colorize($year.outTemp.min)";
$colorDewpointYearMax = "$colorize($year.dewpoint.max)";
$colorDewpointYearMin = "$colorize($year.dewpoint.min)";

//alltime
$colorOutTempAlltimeMax = "$colorize($alltime.outTemp.max)";
$colorOutTempAlltimeMin = "$colorize($alltime.outTemp.min)";
$colorDewpointAlltimeMax = "$colorize($alltime.dewpoint.max)";
$colorDewpointAlltimeMin = "$colorize($alltime.dewpoint.min)";

//60min
$color["outTemp_60min_avg"] = "$colorize($hour($hours_ago=1).outTemp.avg)";

//indoors
if($weewxrt[22]<= -10){$colorInTemp = "#8781bd";}
else if($weewxrt[22]<=0){$colorInTemp = "#487ea9";}
else if($weewxrt[22]<=5){$colorInTemp = "#3b9cac";}
else if($weewxrt[22]<10){$colorInTemp = "#9aba2f";}
else if($weewxrt[22]<20){$colorInTemp = "#e6a141";}
else if($weewxrt[22]<25){$colorInTemp = "#ec5a34";}
else if($weewxrt[22]<30){$colorInTemp = "#d05f2d";}
else if($weewxrt[22]<35){$colorInTemp = "#d65b4a";}
else if($weewxrt[22]<40){$colorInTemp = "#dc4953";}
else if($weewxrt[22]<100){$colorInTemp = "#e26870";}


// humidity in
if($humid["indoors_now"]<30){$colorInHumidity="Blue";}
else if($humid["indoors_now"]<60){$colorInHumidity="Green";}
else if($humid["indoors_now"]<100){$colorInHumidity="Red";}

// feels
if($temp["indoor_now_feels_degC"]<= -10){$colorFeels = "#8781bd";}
else if($temp["indoor_now_feels_degC"]<=0){$colorFeels = "#487ea9";}
else if($temp["indoor_now_feels_degC"]<=5){$colorFeels = "#3b9cac";}
else if($temp["indoor_now_feels_degC"]<10){$colorFeels = "#9aba2f";}
else if($temp["indoor_now_feels_degC"]<20){$colorFeels = "#e6a141";}
else if($temp["indoor_now_feels_degC"]<25){$colorFeels = "#ec5a34";}
else if($temp["indoor_now_feels_degC"]<30){$colorFeels = "#d05f2d";}
else if($temp["indoor_now_feels_degC"]<35){$colorFeels = "#d65b4a";}
else if($temp["indoor_now_feels_degC"]<40){$colorFeels = "#dc4953";}
else if($temp["indoor_now_feels_degC"]<100){$colorFeels = "#e26870";}


//wind speed color
if($weewxrt[12] == 0){$color["windSpeed"]="#85a3aa";}
else if($weewxrt[12] == 1){$color["windSpeed"]="#7e98bb";}
else if($weewxrt[12] == 2){$color["windSpeed"]="#6e90d0";}
else if($weewxrt[12] == 3){$color["windSpeed"]="#0f94a7";}
else if($weewxrt[12] == 4){$color["windSpeed"]="#39a239";}
else if($weewxrt[12] == 5){$color["windSpeed"]="#c2863e";}
else if($weewxrt[12] == 6){$color["windSpeed"]="#c8420d";}
else if($weewxrt[12] == 7){$color["windSpeed"]="#d20032";}
else if($weewxrt[12] == 8){$color["windSpeed"]="#af5088";}
else if($weewxrt[12] == 9){$color["windSpeed"]="#754a92";}
else if($weewxrt[12] == 10){$color["windSpeed"]="#45698d";}
else if($weewxrt[12] == 11){$color["windSpeed"]="#c1fc77";}
else if($weewxrt[12] == 12){$color["windSpeed"]="#f1ff6c";}
//wind gust color
if($weewxrt[57] <= 1){$color["windGust"]="#85a3aa";}
else if($weewxrt[57] <= 2){$color["windGust"]="#7e98bb";}
else if($weewxrt[57] <= 3){$color["windGust"]="#6e90d0";}
else if($weewxrt[57] <= 5){$color["windGust"]="#0f94a7";}
else if($weewxrt[57] <= 8){$color["windGust"]="#39a239";}
else if($weewxrt[57] <= 11){$color["windGust"]="#c2863e";}
else if($weewxrt[57] <= 14){$color["windGust"]="#c8420d";}
else if($weewxrt[57] <= 17){$color["windGust"]="#d20032";}
else if($weewxrt[57] <= 21){$color["windGust"]="#af5088";}
else if($weewxrt[57] <= 24){$color["windGust"]="#754a92";}
else if($weewxrt[57] <= 28){$color["windGust"]="#45698d";}
else if($weewxrt[57] <= 32){$color["windGust"]="#c1fc77";}
else if($weewxrt[57] <= 100){$color["windGust"]="#f1ff6c";}
$color["windSpeed_max"] = "$colorize($day.windSpeed.max)";
$color["windGust_max"] = "$colorize($day.windGust.max)";
$color["windSpeed_avg"] = "$colorize($day.windSpeed.avg)";
$color["windSpeed_10min_avg"] = "$colorize($span($time_delta=600).windSpeed.avg)";
$color["windGust_10min_max"] = "$colorize($span($time_delta=600).windGust.max)";
$color["windSpeed_yesterday_max"] = "$colorize($day($days_ago=1).windSpeed.max)";
$color["windGust_yesterday_max"] = "$colorize($day($days_ago=1).windGust.max)";
$color["windSpeed_month_max"] = "$colorize($month.windSpeed.max)";
$color["windGust_month_max"] = "$colorize($month.windGust.max)";
$color["windSpeed_year_max"] = "$colorize($year.windSpeed.max)";
$color["windGust_year_max"] = "$colorize($year.windGust.max)";
$color["windSpeed_alltime_max"] = "$colorize($alltime.windSpeed.max)";
$color["windGust_alltime_max"] = "$colorize($alltime.windGust.max)";

//rain color
$colorStormRain ="$colorize($current.stormRain)";

if($rain["total"] == 0 && $theme == 'dark'){$colorRainDaySum ="#C0C0C0";}
else if($rain["total"] == 0){$colorRainDaySum ="#3A3D40";}
else {$colorRainDaySum = "$colorize($day.rain.sum)";}
$colorRainYesterdaySum = "$colorize($day($days_ago=1).rain.sum)";
$colorRain1hrSum = "$colorize($span($hour_delta=1).rain.sum)";
$colorRain24hrSum = "$colorize($span($hour_delta=24).rain.sum)"; 
$colorRainMonthSum = "$colorize($month.rain.sum)";
$colorRainYearSum = "$colorize($year.rain.sum)";
$colorRainAlltimeSum = "$colorize($alltime.rain.sum)";

if($rain["rate"] == 0 && $theme == 'dark'){$colorRainRate ="#C0C0C0";}
else if($rain["rate"] == 0){$colorRainRate ="#3A3D40";}
else {$colorRainRate = "$colorize($current.rainRate)";}
$colorRainRateDayMax = "$colorize($day.rainRate.max)";
$colorRainRateYesterdayMax = "$colorize($day($days_ago=1).rainRate.max)";
$colorRainRate24hrMax = "$colorize($span($hour_delta=24).rainRate.max)"; 
$colorRainRateMonthMax = "$colorize($month.rainRate.max)";
$colorRainRateYearMax = "$colorize($year.rainRate.max)";
$colorRainRateAlltimeMax = "$colorize($alltime.rainRate.max)";


$colorUVCurrent = "$colorize($current.UV)";
$colorUVDayMax = "$colorize($day.UV.max)";
$colorUVYesterdayMax = "$colorize($day($days_ago=1).UV.max)";
$colorUVMonthMax = "$colorize($month.UV.max)";
$colorUVYearMax = "$colorize($year.UV.max)";
$colorUVAlltimeMax = "$colorize($alltime.UV.max)";

$colorSolarCurrent = "$colorize($current.radiation)";
$colorSolarDayMax = "$colorize($day.radiation.max)";
$colorSolarYesterdayMax = "$colorize($day($days_ago=1).radiation.max)";
$colorSolarMonthMax = "$colorize($month.radiation.max)";
$colorSolarYearMax = "$colorize($year.radiation.max)";
$colorSolarAlltimeMax = "$colorize($alltime.radiation.max)";

if($sky["lux"] == 0){$colorLuxCurrent='grey';}
else if($sky["lux"] < 16000){$colorLuxCurrent='#89C7E7';}
else if($sky["lux"] < 32000){$colorLuxCurrent='#ADD8E5';}
else if($sky["lux"] < 48000){$colorLuxCurrent='#C4EBF1';}
else if($sky["lux"] < 64000){$colorLuxCurrent='#FFFFC2';}
else if($sky["lux"] < 80000){$colorLuxCurrent='#FFF684';}
else if($sky["lux"] > 80000){$colorLuxCurrent='#FFD301';}

if($sky["day_lux_max"] == 0){$colorLuxDay='grey';}
else if($sky["day_lux_max"] < 16000){$colorLuxDay='#89C7E7';}
else if($sky["day_lux_max"] < 32000){$colorLuxDay='#ADD8E5';}
else if($sky["day_lux_max"] < 48000){$colorLuxDay='#C4EBF1';}
else if($sky["day_lux_max"] < 64000){$colorLuxDay='#FFFFC2';}
else if($sky["day_lux_max"] < 80000){$colorLuxDay='#FFF684';}
else if($sky["day_lux_max"] > 80000){$colorLuxDay='#FFD301';}

//Convert temperatures if necessary
include('dvmUnitConversions.php');
include('dvmMeteorShowers.php');

$firerisk = number_format((((110-1.373*$divum["humidity"])-0.54*(10.20-$divum["temp"]))*(124*pow(10,(-0.0142*$divum["humidity"]))))/60,0);

//wetbulb
$Tc = ($divum['temp']);
$P = $divum['barometer'];
$RH = $divum['humidity'];
$Tdc = (($Tc-(14.55+0.114*$Tc)*(1-(0.01*$RH))-pow((2.5+0.007*$Tc)*(1-(0.01*$RH)),3)-(15.9+0.117*$Tc)*pow(1-(0.01*$RH),14)));
$E = (6.11*pow(10,(7.5*$Tdc/(237.7+$Tdc))));
$wetbulbcalc = (((0.00066*$P)*$Tc)+((4098*$E)/pow(($Tdc+237.7),2)*$Tdc))/((0.00066*$P)+(4098*$E)/pow(($Tdc+237.7),2));
$wetbulbx = number_format($wetbulbcalc,1);
?>