#errorCatcher Echo
#set $YM="%Y-%m-%d"
#set $Y="%Y"
#set $D="  %d"
#set $M=" %b"
#set $NODAY=" N/A"
#set $Temp="%2.1f"
#set $Wind="%6.1f"
#set $Dir="%6.0f"
#set $Count="%6d"
#set $Counter = 0
#set $NONE="   N/A"
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>$station.location</title>
  <style>
  #csv {
    display: none;
}

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 1000px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Helvetica;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
.highcharts-description {
    font-family: Helvetica;
    font-size: 10px;
    color: silver;
}
</style>
<?php
include("../fixedSettings.php");
include("select.php");
$unitTemp = "&deg;".$tempunit;
;?>
    ## Specifying an encoding of UTF-8 is usually safe:
    <meta charset="UTF-8">
    <title>$station.location $gettext("Current Weather Conditions")</title>
    <link rel="stylesheet" type="text/css" href="weewx.css"/>
    <link rel="icon" type="image/png" href="favicon.ico" />
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/heatmap.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/data.js"></script>
    <script src="https://code.highcharts.com/modules/boost-canvas.js"></script>
    <script src="https://code.highcharts.com/modules/boost.js"></script>
    <script src="../charts/scripts/divumwx-<?php echo $theme;?>.js"></script>
  </head>

  <body>
    <figure class="highcharts-figure">
    <div id="container"></div>
    <p class="highcharts-description">
    </p>
</figure>
<pre id="csv">Date,Time,Temperature
#for $year in $year.hours
#if $year.outTemp.has_data
$year.dateTime.format($YM),$Counter,$year.outTemp.max.format($Temp,$NONE,add_label=False)
#slurp
#else
$year.dateTime.format($YM),$Counter,$year.outTemp.avg.format($Temp,$NONE,add_label=False)
#slurp
#end if
#if $Counter > 22
#set $Counter = 0
#else
#set $Counter = $Counter + 1
#end if
#end for
</pre>

<!-- partial -->
  <script>
Highcharts.chart('container', {

    data: {
        csv: document.getElementById('csv').innerHTML
    },

    chart: {
        type: 'heatmap',
        backgroundColor: 'transparent'
    },
    legend: {
        enabled: true
    },
    plotOptions: {
        backgroundColor: 'transparent',
        area: {
            lineWidth: 1,
            fillOpacity: 1
        }
    },
    boost: {
        useGPUTranslations: true
    },

    title: {
        text: '$station.location',
        y: 5
    },

    subtitle: {
        text: 'Temperature variation by day and hour through $year.dateTime.format($Y)',
        y: 20
    },

    xAxis: {
        type: 'datetime',
        min: Date.UTC($year.dateTime.format($Y), 0, 1),
        max: Date.UTC($year.dateTime.format($Y), 11, 31, 23, 59, 59),
        labels: {
            y: 18,
            format: '{value:%b}'
        },
        showLastLabel: false,
        tickLength: 5,
        startOnTick: true,
    },

    yAxis: [{
        title: {
            text: null
        },
        labels: {
            format: '{value}:00'
        },
        minPadding: 0,
        maxPadding: 0,
        startOnTick: false,
        endOnTick: false,
        tickPositions: [0, 6, 12, 18, 24],
        lineColor: '#555',
        lineWidth: 1,       
        tickColor: '#555',
        tickWidth: 1,
        min: 0,
        max: 23,
        reversed: true
      }, {
        lineWidth: 1,
        opposite: true,
        title: {
            text: ''
        }
    }], 

    colorAxis: {
        stops: [
            [0, '#3060cf'],
            [0.5, '#fffbbc'],
            [0.9, '#c4463a'],
            [1, '#c4463a']
        ],
        min: -15,
        max: 25,
        startOnTick: false,
        endOnTick: false,
        tickWidth: 1,
        tickColor: '#555',
        tickLength: 5,
        labels: {
        y: 18,
        style: {
        color: 'silver'
      },
            format: '{value}℃'
        }
    },

    series: [{
        boostThreshold: 100,
        borderWidth: 0,
        nullColor: '#EFEFEF',
        colsize: 24 * 36e5, // one day
        tooltip: {
            headerFormat: 'Temperature<br/>',
            pointFormat: '{point.x:%e %b, %Y} {point.y}:00: <b>{point.value} ' +
                '℃</b>'
        },
        turboThreshold: Number.MAX_VALUE // #3404, remove after 4.0.5 release
    }],
    accessibility: {
    enabled: false
  },
  exporting: {
    enabled: false
  }

});

</script>

</body>
</html>
