##errorCatcher Echo
##
##############################################################################
##                                                                           #
## Highcharts for weewx Extension                                            #
##                                                                           #
## Multi Plot Week observation JSON data file template             			 #
##                                                                           #
## Version: 0.2.2 Sean                                Date: Sept  2023       #
##                                                                           #
##############################################################################
##
[{
"_version": "lightning_week.json.tmpl version 1.0.0",
"utcoffset": $utcOffset,
"timespan": {"start": $weekPlotStart, "stop": $weekPlotEnd},
##
"strikeplot": {"series":
{"lightning_strike_count": {"name": $week.lightning_strike_count.series(aggregate_type='sum', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(0).json},
"lightning_distance_max": {"name": $week.lightning_distance.series(aggregate_type='max', aggregate_interval=3600, time_series='start', time_unit='unix_epoch_ms').round(1).json}},
"units": "Strikes"#slurp
}
}]